[2015-11-11 13:42] john-henry opened #1 "Variable "id" does not exist for checkboxes"
When using checkboxes as a field for a form I get the following template error on the front-end

I'm using **craft25** branch of FormBuilder 2 and Craft Client 2.5.2720

**/craft/plugins/formbuilder2/templates/inputs/checkbox.twig(9)**

[code]

[2015-11-11 13:47] john-henry opened #2 "Background colour missing from Plugin admin page"
The dark grey is missing from your header in branch craft25 and using Craft Client 2.5.2720

Or alternatively you could say the FormBuilder logo needs a darker colour :)

Tested in FF 42.0 , Chrome 46 and Safari 0.0.1

[2015-11-12 23:13] pellens opened #3 "Not compatible with Craft 2.5?"
- Design not correct (two sidebars)
- Entries not showing

[2015-11-12 23:36] owldesign commented on #3
Yeah I know, it's in the readme. You can check branch craft25, I'm still working on it though.

[2015-11-12 23:36] #3 closed

[2015-11-13 00:01] owldesign commented on #1
Fixed.

[2015-11-13 00:01] #1 closed

[2015-11-13 00:24] owldesign commented on #2
Fixed for now, I'm still working on few fixes for craft 2.5 so some things might not work because I didn't get to them yet.

[2015-11-13 00:24] #2 closed

[2015-11-13 17:51] nevsie opened #4 "Couple of queries - user email notification, validation, etc"
I know this is a new one, i have just seen, so just general queries.

1 - typically the user entering the form, and the admin would receive a email notification. is this currently possible? i.e. different messages for user from admin

2 - validation of required and data entered - i see required, but is there more than this? Is the validation done using HTML 5, JS, or server side?

3 - export - can

[2015-11-14 02:19] owldesign commented on #4
If its not an issue or a bug please just email me directly with questions.

1. User notification is not added yet, only admins can be notified. I'm still exploring best ways to do this.
2. Validation will happen server side on the fields that are `required` by default. This is also true if you are using Ajax to submit a form. HTML 5 browser validation work by default if browser don't support `requ

[2015-11-14 02:19] #4 closed

[2015-11-17 11:46] magnusland opened #5 "Error when using Ajax"
When I activate AJAX for a form, and submit it in the front end (using an unaltered example form code), I get this error message:

_The request could not be understood by the server due to malformed syntax._

The form works perfectly without AJAX.

Worth mentioning I'm on Craft 2.4.2693 and testing locally on a Mamp server.

[2015-11-24 22:57] nirpan opened #6 "Typo on Wiki"
There is a typo in the wiki; 'enought' when it should be enough on the following line:

'Typically 3 seconds is good enought'

[2015-12-03 11:00] jimmy0816 opened #7 "update to craft 2.5 will be error"
back-end view was broken. and click entry not showing

[2015-12-03 18:44] owldesign commented on #7
I had a branch for craft25 updates. Now that its officially out I updated master branch to the new stuff. Try to pull and check if it fixed for you.

[2015-12-03 18:54] owldesign commented on #6
English is my second language. Fixed typo, thank you.

[2015-12-03 18:54] #6 closed

[2015-12-04 02:22] jimmy0816 commented on #7
appreciate, it was fixed for me. just plugins index look like a little weird.maybe can change it.
i have another issue. have way can edit entry in back-end ?because it's only showing now.

[2015-12-15 03:21] terrysmyth commented on #7
Is this the Error you are referring too?

Parse error: syntax error, unexpected '[' in /home/dmrhk2015/public_html/craft/plugins/formbuilder2/controllers/FormBuilder2Controller.php on line 54

I dont know how to fix it. I simply installed the plugin and the first time i click on formbuilder2 i got the above error.

[2015-12-22 15:14] kemmerly opened #8 "Create a Form button/link?"
After creating one form I can't seem to find a link or button to create another form. Assumed it would be on the Forms tab but I'm not seeing it. Using Craft 2.5 and FB2 0.1.

The screenshot shows a Quick Link for Create New Form but my screen doesn't look like the one in the screenshot.

Thanks.

![formbuilder](https://cloud.githubusercontent.com/assets/1459061/11958257/ccdf0160-a894-11e5-994a-46

[2015-12-22 20:02] owldesign commented on #8
Sorry about that @kemmerly, I updated master branch, you should now see buttons next to section titles to the right.

[2015-12-22 20:02] #8 closed

[2015-12-22 20:39] kemmerly commented on #8
That works. Thanks for the quick response. I could add new forms by navigating to the URL listed in the controller file but couldn't figure out why I wasn't seeing a link.

Well designed plugin - I appreciate you sharing it.

[2015-12-28 17:23] cibgraphics commented on #5
I get this error as well using Craft version 2.5.2755. Can we get a fix please?

[2015-12-28 17:37] cibgraphics opened #9 "Custom HTML for form"
I am needing custom HTML for my form that just looping through the fields doesn't allow me to do.  Is there a way to call a singular form input?

I don't see anything in the documentation on how to do it.

[2015-12-31 16:15] Lighty46 commented on #5
I'm getting this issue as well, which is a shame because the rest of the plugin is awesome. Any chance we could get an estimate of when you might have a fix for this please?

[2016-01-02 06:03] owldesign commented on #5
Sorry for delay, when I looked into I realized there were a few things I needed to rewrite/cleanup to get it right. You can pull master now and try.

I updated `sampleForm.twig`. But if you just going to use ajax you might not need to look at it.

@magnusland this plugin is updated for 2.5 so I'm not sure what kind of issues you'll run into (maybe mostly layout) Let me know how it goes.

Closing i

[2016-01-02 06:06] owldesign commented on #7
Are you guys still having issues?

@terrysmyth can you pull latest and let me know if you still have issues, you need php 5.4 as well for this to work, closing ticket for now.

[2016-01-02 06:06] #7 closed

[2016-01-02 06:08] owldesign commented on #9
I don't have this option, will be looking into adding in the future.

[2016-01-02 06:10] terrysmyth commented on #7
Hey Vadim,

Thanks for your help and updates. Everything is fine now. I've moved to
digital ocean as my servers. It was only the php version that was causing
the problems.

Regards,

Terry
On 2 Jan 2016 14:06, "Vadim Goncharov" <notifications@github.com> wrote:

[2016-01-04 18:35] m-soyka opened #10 "When activated, I am unable to add / edit Craft fields locally."
I noticed that when the "Form Builder 2" plugin is activated, I am unable to create a new field or edit any existing fields without there being a 500 Internal Server Error. I trouble shot this to better understand if it is the plugin or the way my environment is configured. I discovered that this problem goes away once the "Form Builder 2" plugin is disabled. However, I tried your first "Form Buil

[2016-01-05 15:11] fduarte opened #11 "Link to the file uploaded broken on the email notification"
Hi! Thanks for the plugin!

Have you noticed that if you upload a file with the form, you'll get an email notification with a section called "File Uploads" but the link to the file uploaded goes to "uploads/<FILENAME>" which means we get a 404.

Also, the file name should probably be modified so that special characters don't break the link. For example, if the file name uploaded includes dashes or

[2016-01-05 20:14] ockam opened #12 "Field type not updated when adding new form"
I’m testing FB2 on Craft 2.5.2755 with PHP7. When using the Forms field type, the list of forms that appear in the drop down doesn’t update when I add new forms. It shows only the forms that were already there when I created the field.

Am I missing something?

[2016-01-05 22:12] owldesign commented on #12
Good catch, should be fixed now.

Also I don't know if I documented it, but to use the Forms field type on the front end you can do it like this `{{ craft.formbuilder2.getFormById(entry.addForm) |raw }}` the `addForm` being the name of your field handle

[2016-01-05 22:12] #12 closed

[2016-01-05 22:15] owldesign commented on #10
You know I'm not exactly sure what it could be because it seems to work fine for me. Could you tell me more about your environment? Are you running locally or on server somewhere? what php version you on?

[2016-01-05 23:28] owldesign commented on #11
Not exactly sure why it doesn't work for you, here's a vid of me going through it step by step and it works fine. I already have it set up so spaces are replaced with dashes. And the asset folder will be automatically created in your `public` directory. What php you running?

https://www.youtube.com/watch?v=IE2r5n4yV7M&feature=youtu.be

[2016-01-07 14:01] m-soyka commented on #10
I am developing locally using MAMP PRO version 3.4 with php 5.6.10

[2016-01-07 15:42] fduarte commented on #11
Thanks a lot for putting that video together. I'll be testing it soon and I'll report back. Thanks!

[2016-01-07 15:55] m-soyka commented on #10
I think I figured it out. I wasn't working on the most recent Craft version, so when I updated it the FormBuilder 2 plugin worked correctly. Appreciate the help and the plugin.

[2016-01-07 19:02] owldesign commented on #10
Glad you figured out, and thanks!

[2016-01-07 19:02] #10 closed

[2016-01-08 14:30] samhibberd opened #14 "Version"
Just a quick note to say that the version number hasn't been updated for the latest release.

[2016-01-12 10:22] pixeljitsu opened #15 "File uploads should respect dynamic upload locations set in asset fields"
Awesome plugin.  Thanks a bunch.

This is probably a feature request, but it is an issue that is causing me problems with how the uploaded files are being organized.

When uploading a file, dynamic file locations should be respected as configured in the asset field settings.  Additionally an option to either replace existing files or renaming uploaded files should be added to the form options.

[2016-01-14 00:33] emcacace opened #16 "Get Form by ID instead of Handle"
I was wondering how I could get a form object with an ID. The getFormById function behaves differently than the getFormByHandle. What I'm trying to do is have a user pick an existing form within an entry. Unfortunately right now, the only data I get is the ID of the form. If getFormById returned $form it would work fine. Thoughts?
[code]

[2016-01-14 00:48] owldesign commented on #16
Please pull. I updated the function, it shouldn't have been that in the first place. You can use `getFormById($formId)` to get `form` object. If you need to render form html based on form ID on frontend (twig) you can use `getFormHtmlById($formId)`. Let me know if that fixed for you so I can close ticket.

[2016-01-14 01:10] emcacace commented on #16
Great! It works. That was fast, thanks!

[2016-01-14 01:11] owldesign commented on #16
no problem, happy to help.

[2016-01-14 01:11] #16 closed

[2016-01-14 22:34] emcacace opened #17 "Undefined options when adding Form to Matrix Field"
To replicate, create a new Matrix field and add a Form to one of the nodes. Save the Matrix field and add to a section. In the Admin side, try create a new entry for that section. you get a php error

` undefined index: options  `

In the FormBuilder2FieldType.php, checking for options if they are set would fix this.

[code]

[2016-01-15 00:48] jimmylorunning opened #18 "Dropdown fields are not coming through when submitted"
Create a form with a dropdown on it. Put it on a page template. Fill out the form and submit it. Look at submitted entries, and you will see that the dropdown value was not sent.

And if you made it a required field, it won't let you submit the form at all, even if you have selected a value from the drop down.

[2016-01-15 00:52] jimmylorunning opened #19 "Required Checkboxes: won't let you submit unless the FIRST item of a series of checkboxes are checked"
I'm not sure what it means to have a checkboxes field be "required". But when I put it on a page and hit submit, it said I can't submit it until I check the box. But I had checked some boxes, just not the first one in the field. Apparently, unless the first box is checked, it considers it empty.

However, I think the ideal behavior would be if ANY of the boxes are checked, then it considers it fil

[2016-01-15 01:06] owldesign commented on #19
Required checkboxes is kind of weird, only way I was able to use it is by using javascript (http://parsleyjs.org/). I feel like I'd rather not use `required` attributes on checkboxes until there is better client-side validation (html5 input validations).

I'll take a deeper look into it. See what craft is doing.

[2016-01-15 01:07] owldesign commented on #18
Will take a look

[2016-01-15 01:07] owldesign commented on #17
I'll get back with a fix soon.

[2016-01-15 01:07] #14 closed

[2016-01-15 01:07] owldesign commented on #11
@fduarte you check it yet? want to close the ticket.

[2016-01-15 06:45] owldesign commented on #17
Latest push should fix this.

[2016-01-15 06:46] owldesign commented on #18
Fixed, please pull latest.

[2016-01-15 06:46] #18 closed

[2016-01-15 15:06] jimmylorunning opened #20 "Templates Path screwed up once again"
I fixed this bug before, but it seems like it's back. After pulling in the form, if I then try to include a file, it won't find it because it's looking for it in the plugins path. I can fix this again if you want me to, let me know.

[2016-01-15 15:13] jimmylorunning commented on #18
Works great! Thanks :+1:

[2016-01-15 18:07] owldesign commented on #20
Ops, I think i deleted it by accident. Should be good now.

[2016-01-15 18:07] #20 closed

[2016-01-15 18:35] owldesign commented on #17
Im reopening this for now, looks like something still broken

[2016-01-15 18:45] owldesign commented on #17
Nevermind silly me. On the front end have to use {{ craft.formbuilder2.getFormHtmlById(entry.addForm) |raw }}.. new function is `getFormHtmlById()`

[2016-01-15 18:45] #17 closed

[2016-01-15 18:47] jimmylorunning commented on #20
Thanks!

[2016-01-21 08:56] owldesign commented on #11
Also no more links, email should have files as attachments now. I'm closing this issue for now. If it comes up again we can reopen.

[2016-01-21 08:56] #11 closed

[2016-01-21 19:05] emcacace opened #22 "Feat: Pass form params to thank you page"
Hi, I was wondering what you thought of passing the form data to the thank you page. Sometimes, you might want to customize that page accordingly. I also thought it might be cool to integrate with other plugins like a mailchimp one, so for now I was going to have my redirect go to my mailchimp controller so I need the data. Maybe there is a better or easier way?

I was thinking in FormBuilder2_Ent

[2016-01-21 19:09] owldesign commented on #22
I don't think I'm going to make mailchimp integration for this plugin. It might just need to be its own plugin. But I'll add so you can pass data to thank you pages sometime this week.

[2016-01-21 19:12] jimmylorunning opened #23 "Validation of textarea"
I have a textarea on my form, and it is "required". When I submit it without filling it in, it won't let me, but it also won't pop up the notification that that is what's wrong.

When I do the same with an input text field, I get a very helpful message "please fill out this field".

Is this a bug?

[2016-01-21 19:13] emcacace commented on #22
Cool thanks. Yes I meant more to have a way for another plugin to easily hook to this one. Keep up the good work.

[2016-01-21 19:14] owldesign commented on #22
Sounds good, I'm might need to go through the plugin and add bunch of hooks in appropriate spots so you guys can have access

[2016-01-21 19:17] owldesign commented on #23
Looks like a bug, will take a look at it later tonight.

[2016-01-21 19:22] jimmylorunning commented on #23
Just messed around with it a little. If you turn javascript off, and change templates/input/richtest.twig so that there are no spaces between the opening and closing textarea tags (there is currently one space in there), then it works.

But when I turned javascript on again, and redactor gets filled in, it doesn't work anymore.

Hope this helps.

[2016-01-21 20:41] jimmylorunning opened #24 "Restrict assets field type to file types not working"
I have an asset field type, with "restrict to file types" set to "image" only, but I was able to submit the form with a text file and it went through just fine.

[2016-01-21 20:43] owldesign commented on #24
I'm not implementing those options yet. Right now it'll upload anything. Moving this to enhancement

[2016-01-26 10:30] danielparas opened #25 "Pass additional parameters to email"
Hi, thanks for the great plugin!

Is there a way to send additional parameters to the email. Eg. by using hidden fields in the form?

I'm using the form for landing pages and I need to show which page the form was filled and sent from eg. by showing the url path as part of the form data in the email notification sent.

Thanks in advance
Daniel

[2016-01-28 20:34] phaetons opened #26 "Cant save Formular if enableCsrfProtection is activated"
I get an error like: "Could not check CSRF-Token" if i want to create/save a formular.

[2016-01-28 20:36] owldesign commented on #26
Do you have `{{ getCsrfInput() }}` inside your `<form>` markup?

[2016-01-28 21:16] phaetons commented on #26
Ah ok, the problem is in the backend / CP, so my frontend form markup is not relevant.
I meant that i cannot create a form in the backend if enableCsrfProtection is activated.

[2016-01-28 21:16] owldesign commented on #26
I'll look into it tonight

[2016-01-29 21:21] #26 closed

[2016-01-30 08:25] lexbi opened #29 "Email Address Field type custom input"
Hi Vadmin,

Thanks so much for your plugin, it's ace, just been trying it out and it doesn't look like there's any option for a custom field type?

For example: I want a field for "Email" but a custom field that has been added by myself or say "Sprout Fields" does not get picked up.

All I want to do is change the input "type" attribute to "email" so my custom validation.js can validate email addr

[2016-01-31 04:22] owldesign commented on #29
I dont have this as an option yet. But looking into building it in.

[2016-02-03 17:48] cloudratha commented on #19
Any updates on this bug? Is it a plugin issue or a craft issue?

[2016-02-03 18:05] owldesign commented on #19
@cloudratha techically its a checkbox issue, see here [ What does input.@required mean for @type = checkbox?](https://www.w3.org/html/wg/tracker/issues/111?changelog)

Best thing at the moment would be to not set checkboxes as `required` fields :(

[2016-02-05 17:16] cloudratha commented on #19
Thanks for the update. I understand the limitations of a required checkbox. The issue we were having with the plugin is that with one checkbox field (with required), the form would not validate that it was checked even though it was a sent parameter. I've demo'd another plugin and it behaves as expected. Any thoughts?

[2016-02-05 17:59] owldesign commented on #19
@cloudratha i pushed updated that should resolve your issue with only one checkbox.

[2016-02-06 06:28] cloudratha commented on #19
Awesome. Thanks for that. Will let you know once I've tested it.

[2016-02-19 09:23] lexbi opened #31 "input text type"
Hi Guys,

Noticed that the "type" attribute for a text field is incorrect. textarea/file fields appear fine, maybe it's just this one? Maybe the class/type fields are the wrong way around for this one?

![image](https://cloud.githubusercontent.com/assets/2337910/13171346/32f9fa4e-d6ea-11e5-9dba-aa036710e5ee.png)

[2016-02-19 09:23] lexbi commented on #31
Ignore the class being "text1" was testing the custom html method you suggested in another issue.

[2016-02-19 17:47] owldesign commented on #31
fixed this up. should be in the latest master. thanks!

[2016-02-19 17:47] #31 closed

[2016-02-19 18:43] lexbi commented on #31
nice one bruv, cheers

On 19 February 2016 at 17:47, Vadim Goncharov <notifications@github.com>
wrote:

[2016-02-24 02:12] FepAguilar opened #32 "Plugin Not Showing when Uploaded at server"
I was working on my localhost enviroment and everything works fine until I've uploaded the whole project on the final server.

In this final server the plugin it's not appearing on plugin section.

I've uploaded every file on craft/plugins but It is not showing on dashboard.

What could be happening?

Thanks in advance.

[2016-02-24 23:12] theskyfloor commented on #32
Change the folder name to "formbuilder2"

[2016-02-24 23:14] theskyfloor opened #33 "Is it possible to use field's in notification settings?"
I want to be able to send the confirmation to the form submitter as well as an admin. Is this possible?

I tried {owner.fieldHandle} and {entry.fieldHandle}

[2016-02-24 23:19] owldesign commented on #32
Hard to tell why that would happen. Yeah make sure the folder name is correct also are the php version and craft version similar between local and server?

[2016-02-24 23:20] theskyfloor commented on #32
Make sure you also don't have caps in the folder name.

[2016-02-24 23:21] theskyfloor commented on #33
Also do have any plans to add conditional fields? I love the design you have done so far on the backend!!

[2016-02-24 23:24] owldesign commented on #33
Can't use twig fields in the settings. I can add another field in the settings where you can select the "Email" field from drop down of available fields on the form and plugin will use that to notify form submitter (if they of course enter email)

I love the idea of conditional fields, but that's a lot of work so maybe eventually I'll have some time to do that.. this guy is on the right track http

[2016-02-25 03:05] theskyfloor commented on #33
That would be rad! Any idea when you might be able to add that?

Yeah Reasons is great... I have been able to fake some conditionals with lightswitches in a Matrix attached to a form but something official from someone would be sweet.

[2016-02-25 17:47] owldesign commented on #33
I'll be working on it in the next couple of days

[2016-02-26 11:06] lexbi opened #34 "Size attribute appears in markup even if empty"
Just doing some w3c validation:
![image](https://cloud.githubusercontent.com/assets/2337910/13350549/9bfbd696-dc78-11e5-95a9-693beae2de91.png)

for:
`<input      type="text"
          class="text" id="text-2101002558" size="" name="formName" value="" required  placeholder=""      autocomplete="off">`

It's moaning as the size attribute is empty. I notice in your text input template:
`{%- if max is

[2016-02-26 12:03] lexbi commented on #5
I am getting this on the most recent version.

[2016-02-26 18:36] owldesign commented on #33
@theskyfloor Latest push has option to notify submitter.

This option will only show up if the form is saved with some fields added to it. Which means if you're creating a new form you wont see this option until you save the form and come back to edit it.

Let me know if this worked for you and I can close issue.

[2016-02-26 18:38] owldesign commented on #5
@lexbi are you getting any errors? I might need more info because I tried it and it worked for me.

[2016-02-26 19:03] theskyfloor commented on #33
That's amazing! Works perfectly. We can close it... It would be sweet if it had the same options as the admin notification too but I can't complain because that was so fast. Thanks!

[2016-02-26 19:04] owldesign commented on #33
This is a quick fix, but I plan on giving it similar configurations

[2016-02-26 19:04] #33 closed

[2016-02-26 19:06] theskyfloor commented on #33
Sweet thanks! I love the admin interface you came up with for this. Super pleasant to work with...

[2016-02-26 19:19] lexbi commented on #5
Yeah I'm getting the same one in the top comment with Ajax enabled. The
post request returns a 400 error I think. Won't be able to check till
tomorrow though sorry.
On Fri, 26 Feb 2016 at 18:38, Vadim Goncharov <notifications@github.com>
wrote:

[2016-02-29 20:29] knynkwl opened #35 "Minified Redactor throws SyntaxError"
Changing `redactor.min.js` to `redactor.js` fixes the issue.

https://github.com/roundhouse/FormBuilder-2-Craft-CMS/blob/master/variables/FormBuilder2Variable.php#L34

[code]

[2016-02-29 20:42] owldesign commented on #35
Hmm I'm not running into this error but if anyone else is having it this can be a temporary fix. Can you provide more info how you're getting this, what fields types your form contains and/or could it be a conflict with another js script you're running?

[2016-02-29 20:53] knynkwl commented on #35
I tried removing all other scripts, and error still persists with `.min` file.

Here are the fields that I have http://grab.by/Ou3c

[2016-03-07 19:35] shunluoifong opened #36 "500 Server Error"
I was developing locally on my machine using AMPPS, and the plugin worked well. I then moved my site to a server, and was getting the issue of the plugin not showing up in the plugins list. I figured out I needed to make the name of the plugin folder all lowercase. After doing that the plugin showed up and I installed it. However, when clicking on the FormBuilder2 link to set up a new form, edit c

[2016-03-07 19:52] owldesign commented on #36
Really hard to troubleshoot without having my hands on it. I would check php versions between your local dev and remote server. Can you check craft logs and see if there is more info on the error? `craft/storage/runtime/logs`

[2016-03-11 22:46] sebpl007 commented on #36
I got exactly the same error and my php versions match between my server and local and by checking the logs I found this which will help you out.

`******************************************************************************************************
2016/03/11 22:30:18 [error] [exception.phpmailerException] exception 'phpmailerException' with message 'Could not instantiate mail function.' in /dev

[2016-03-11 22:50] owldesign commented on #36
Can you test your email protocol please. On your remote server go  to Settings->Email and hit `Test` button, see if it fails.

[2016-03-11 23:02] sebpl007 commented on #36
It does fail.

[2016-03-11 23:08] owldesign commented on #36
Most likely your phpmailer isn't installed or configured correctly. Try setting up different protocol and making sure you can send emails from your craft.

[2016-03-11 23:37] sebpl007 commented on #36
I just configured it and it works perfectly. Thanks a lot for your help I do appreciate it!

[2016-03-15 22:18] tiborsaas commented on #32
Changing the folder name to "formbuilder2" solved it for me.

[2016-03-18 03:20] daituzhang opened #38 "Get Undefined index: notifySubmitter"
Hi,
Thank you for bringing this amazing plugin to version 2.
I tried to create a new form after installing
however I get `Undefined index: notifySubmitter` error on saving the form

[code]

I'm using Craft CMS 2.6.2776
Hope you have a better idea on what's happened.

Thank you!

[2016-03-18 03:36] jbueler commented on #38
There is a fairly easy fix for this, I can help with a patch in the morning. It would essentially be something like this:

[code]

[2016-03-24 16:07] builtbyvern commented on #38
Also experiencing the same problem on my end. I'll try that snippet out.

[2016-03-24 17:18] owldesign commented on #38
@builtbyvern @daituzhang can you guys pull master and check if error was resolved?

[2016-03-24 23:59] daituzhang commented on #38
@owldesign when click on formBuilder icon, get `Parse error: syntax error, unexpected '{' in /vagrant/craft/plugins/formbuilder2/services/FormBuilder2_FormService.php on line 157`

Thank you!

[2016-03-25 01:14] owldesign commented on #38
@daituzhang oh gosh my bad! Can't believe I didn't double checked that. Should be good now

[2016-03-25 02:14] daituzhang commented on #38
@owldesign all good! Thank you!!!!!!!!!!!!!!!!!!!!!!!!!

[2016-03-25 02:39] daituzhang opened #39 "If possible to send notification to different email based on a input field result"
Hi,
Sorry to bother you again.
Just like I mentioned on the title, is it possible to have the notification to different email address dynamically on submission or maybe generated custom subject line based on their input?

Thank you!

[2016-03-25 04:53] #38 closed

[2016-03-25 05:16] owldesign commented on #39
Do you mean like if you had a select drop down field with options such as
`<select>`
`<option value="support@company.com">Customer Support</option>`
`<option value="product@company.com">Product Inquiry</option>`
`<option value="hello@company.com">General Inquiry</option>`
`</select>`
it would send to whichever user picked?

I think it might be easier to just go the custom generated subject line. B

[2016-03-25 14:00] daituzhang commented on #39
Yes exactly!

Custom generated subject line will work on my case as well. Do you have any suggestions on that?

Great thanks!!!

[2016-03-25 16:11] owldesign commented on #39
I'll build an option into form setup that'll let you pick a field that will act as the subject or if there isn't one selected it'll use default subject line

[2016-03-25 20:07] owldesign commented on #39
@daituzhang when you get a change pull master, I have added this functionality in.

![screen shot 2016-03-25 at 1 04 45 pm](https://cloud.githubusercontent.com/assets/438764/14052806/2b849448-f28a-11e5-8916-a418fb8407e5.png)

However in order to see this Custom Subject toggle your form must first have fields added to it. So if you're creating a new form, add fields first, save it and go back to ed

[2016-03-26 17:05] Sphamandla commented on #36
I Still have a problem accessing foprmbuilder2 on the server on the url (http://domain.com/admin/formbuilder2/tools/configuration)

my latest log file below

******************************************************************************************************
2016/03/26 16:30:57 [warning] [application] The “FormBuilder 2” plugin release feed didn’t come back as valid JSON:

<!DOCTYPE html>
<html

[2016-03-27 00:00] daituzhang commented on #39
Thank you soooooooooo much! I'm trying to add a new field. Sorry that maybe I should open a new issue, but since there are no longer custom form fields, how the `type` attr being added, is it possible to make them email or all int for html5 input validation? Also is there any js validation lib still available?
Great thanks!!

[2016-03-27 01:40] owldesign commented on #39
You can follow this to create you own input markup https://github.com/roundhouse/FormBuilder-2-Craft-CMS#custom-fields-html-markup

However, I don't think that will hep you since changing `type="text"` to `type="email"` will change it to all the text fields in the form.  I think I'm going to add more options for the fields. There are few new html5 input types I'd like to add such as email, number,

[2016-03-27 01:40] #39 closed

[2016-03-29 01:48] daituzhang commented on #39
Hi @owldesign Thank you so much for adding on the functionality! It works really good!

[2016-03-29 20:33] Macxim opened #40 "Undefined variable: path"
PHP Notice says the following:
[code]

Craft CMS 2.6.2778

[2016-03-29 20:36] owldesign commented on #40
Can you provide more info please, I have no idea where this is. It would be helpful if you can provide steps you took to get this notice and which file/path you're at while getting this error?

thanks.

[2016-03-29 20:41] #40 closed

[2016-03-29 20:44] owldesign commented on #40
got it, i'll make these adjustments soon as i can, thanks!

[2016-03-29 20:45] Macxim commented on #40
Yes, sorry.
I just copied the content of the sampleForm.twig and it gave me this error.
Sorry about the lack of explanation, I was fixing it.

[2016-03-29 20:45] Macxim commented on #40
Do you want me to make a PR?

[2016-03-29 20:46] owldesign commented on #40
please do, that would make it quicker for me

[2016-03-30 10:05] Macxim commented on #38
I'm still getting the same error.

[2016-03-31 17:59] knynkwl opened #42 "Restrict non-admins & ability to update name"
Any plans to add this functionality?

Similar to amnav plugin:
![screen shot 2016-03-31 at 10 57 47 am](https://cloud.githubusercontent.com/assets/4225771/14185589/7283b96a-f72f-11e5-93f1-4e9fc1f270d6.png)

[2016-03-31 18:05] owldesign commented on #42
Hmm haven't thought about it, I can look into adding user role restrictions as well as updating the name of the plugin. Unfortunately don't have timeline, will work on it as soon as I get some free time!

[2016-03-31 18:15] knynkwl commented on #42
Shweet! cheers

[2016-04-01 12:37] Nexcapto opened #43 "Feature Request: Restrict to 1 entry daily per field"
Do you think this would be too difficult to do? Mainly for contests and the like..

[2016-04-01 15:34] owldesign commented on #43
@Nexcapto Yeah this is way too specific for what this plugin is meant for, I'd suggest developing a plugin just to do that.

If you email me detailed description of this feature I might be able to make that plugin.

[2016-04-01 15:34] #43 closed

[2016-04-01 15:37] Nexcapto commented on #43
Thank you for the quick reply. I appreciate that you'd be willing to give it a try, but I figured out a way to do it with guest entries.

[2016-04-01 15:38] owldesign commented on #43
Perfect!

[2016-04-02 21:28] akukral opened #44 "Configuration Blank Page"
After installing the plugin successfully FormBuilder2 is is appearing in the sidebar as well as on the settings page and in the plugins as installed and active. Unfortunately, I'm getting a completely blank page when I try to load the configuration or click on any links associated with FormBuilder2. Would you happen to have any ideas on how to address this?

[2016-04-03 16:16] akukral commented on #44
It seems to be related to paths. I can access the configuration while developing locally at http://localhost:3000, but on my staging server it will not work. Is there a variable that I can change to make sure I'm loading the plugin from the right directory or location?

[2016-04-04 16:01] owldesign commented on #44
@akukral make sure that the name of the plugin folder is exactly like this `formbuilder2` smaller case. Also what is the version of your craft install?

[2016-04-05 03:40] noahread opened #45 "500 (Internal Server Error) on form AJAX submission"
When I submit a form from the front-end I get a 500 (Internal Server Error) for http://stage.liahonachildren.org/actions/formBuilder2/entry/submitEntry

I’ve tested my email setup, I’m using a 3rd party SMTP service, and it is working. Despite the error the new entry is showing up in the database, but no notification email is sent and the form stalls on _Sending…_ on the front-end.

[2016-04-05 10:27] shunluoifong opened #46 "email notification based on html select/dropdown value"
I have a form that contains a select/dropdown field with a few different options. I would like the form submission notification to be sent to a different email based on what option is selected in the field. Is this possible with FormBuilder?

[2016-04-05 15:49] owldesign commented on #46
@shunluoifong I dont have this ability yet, here's a similar ticket #39 where I made a field for sending email with custom subject.

I might need to add this feature though since more people are interested in it.

[2016-04-05 15:51] owldesign commented on #45
I'm having issues with ajax submissions too, I'll take a look as soon as I have time!

[2016-04-05 18:15] shunluoifong commented on #46
@owldesign Thanks for the quick response! In my case I specifically need to send send notification to a different email based on the dropdown selection, so the custom subject won't work for me. Add my +1 for this feature request!

[2016-04-18 12:51] tiborsaas commented on #45
I also experience this problem. Haven't looked under he hood yet. Backend email test is successfully sent via SMTP Amazon mail service.

[2016-04-18 12:56] tiborsaas commented on #45
I found the reason. If I switch `omitScriptNameInUrls` in the general config to true, it stats working.

[2016-04-18 13:39] noahread commented on #45
I think the problem I was having must be different. My `omitScriptNameInUrls` has been set to true from the beginning.

[2016-05-06 10:29] dhanala89 opened #48 "How am I support to add this as plugin into my local craft?"
I tried cloning it to my plugins folder of my local craft project and opened the plugins from admin settings but the plugin did not show in the list. Can you please provide instructions on how to add this plugin? Thank you.

[2016-05-07 00:00] carlosperez commented on #44
I'm having this issue as well. My initial problem had something to do with the folder name not being all lowercase. Now that I changed it, I uninstalled/reinstalled it and I still can't get the configuration page (as well as the actual form not working).

[2016-05-07 00:12] owldesign commented on #48
Make sure that the plugin folder is renamed to this `formbuilder2

[2016-05-07 00:12] carlosperez commented on #44
I'm seeing this in the logs:
[code]

followed by what looks bunch of HTML

[2016-05-07 00:13] owldesign commented on #32
Yeah plugin folder must be renamed to `formbuilder2`

[2016-05-07 00:13] #32 closed

[2016-05-07 01:17] carlosperez commented on #44
The warning above was not related to the problem I was having (though I did open a PR to address that: https://github.com/roundhouse/FormBuilder-2-Craft-CMS/pull/49).

In the end, it was the version of PHP that I was running on the prod environment... I updated it to 5.5 and everything seems to be working now.

[2016-05-11 01:32] glenwith1n commented on #29
I would love this option also, trying to do the same thing.

[2016-05-11 01:51] glenwith1n commented on #29
I just made a quick fix for now, I made a custom template for text.twig and added an if statement in the type area.
`type="{% if label|raw == 'Email' %}email{%else%}text{% endif %}"`

[2016-05-11 10:30] Sidneyvp opened #50 "Create a multi-page form"
I am trying to create a multi-page form.
On the first page, the customer can fill in all his required entries. Then the form should be passed to a new page where the customer fills in all of his personal information. Is it possible to do this or should it be done using javascript to show a particular part once the other part is finished?

[2016-06-03 15:53] lexbi commented on #38
Just had this on the latest version of form builder from github & Craft CMS 2.6.2789

[2016-06-03 16:55] owldesign commented on #38
@lexbi can you tell me which file you had this error in? I have something in place that shouldn't give you this error anymore hmm

[2016-06-06 03:18] owldesign commented on #38
@lexbi try to pull latest again, I made an update.

[2016-06-06 08:41] lexbi commented on #38
Hi again, no error message now, thanks for fixing so quickly!

[2016-06-06 08:52] lexbi opened #51 "Ability for admins/other dashboard users to change the notification email sent from name"
Hi,

I believe this is a feature request, but if it's possible another way please enlighten me!

I would like the ability for a craft user to update the form's name, for example, it may make more sense in the backend for a form to be called "Services Sidebar Contact Form", but, doing so would also set that as the sender name in notification emails to the submitter (if using notify submitter).

I w

[2016-06-06 09:14] joepagan opened #52 "Can't select custom logo when attempting HTML template option"
Hi Again,

Just tried to select a logo within the HTML template area on a form.

It loads up the assets window, I can see all my asset sources though the files that definitely exist (I can see them in the asset manager) are not visible within this window. This is both the same for local asset sources & S3 asset sources.

The plugin
![image](https://cloud.githubusercontent.com/assets/2337910/158172

[2016-06-06 17:15] owldesign commented on #52
Not exactly sure why its broke? It seems to work for me, I'm getting all the assets to show up. Can you remind me of your craft and php versions again?

are you getting any js errors in the console?

[2016-06-06 17:17] owldesign commented on #51
I have pushed latest with new field added to the notifications toggle called Public Form Name. Let me know if this works for you and I'll close this ticket out.

Thanks.
![screen shot 2016-06-06 at 10 17 20 am](https://cloud.githubusercontent.com/assets/438764/15830964/e94cc4ae-2bcf-11e6-89aa-5308ac621a1f.png)

[2016-06-07 08:14] lexbi commented on #51
Hi Vadim,

That's absolutely perfect, thanks for your help.

[2016-06-07 08:14] #51 closed

[2016-06-07 09:28] lexbi commented on #52
No JS errors, nothing in the craft.log, it does let me upload new assets to that asset source in this window, but, it just doesn't list them:
![image](https://cloud.githubusercontent.com/assets/2337910/15852756/53a442bc-2c9a-11e6-84d5-216a8fb0baca.png)

Craft version:
 2.6.2789

Php:
5.6.21 (on my server)
5.6.10 (locally on MAMP)

issue occurs on both environments with local or remote assets.

[2016-06-08 14:21] lexbi commented on #52
Is it possible that the field is setup not to allow certain file types? I'm just trying this with jpgs/pngs at the moment

[2016-06-08 16:15] owldesign commented on #52
Hmm not sure, I see if I can troubshoot this but so far it was working for me. There isn't any file type validation set up so it should ideally show you everything. Its pretty strange that it still will ask you to overwrite a file that is there. Have you tried other browsers?

[2016-06-21 09:08] lexbi commented on #25
There appears to be a hidden.twig file in the inputs folder in this plugin, though I believe you will need to create your own field type for this as formbuilder2 currently uses the built in craft input types, and, "hidden" input type is currently not an option.

[2016-06-21 09:37] lexbi commented on #25
So, create a new file at: `formbuilder2/fieldtypes/FormBuilder2_HiddenFieldType.php`

put this in your file:

        <?php
    namespace Craft;

    class FormBuilder2_HiddenFieldType extends BaseFieldType
    {
        public function getName()
        {
            return Craft::t('Hidden Field');
        }

        public function getInputHtml($name, $value)
        {
            return craft(

[2016-06-21 11:32] lexbi opened #54 "How can I pass value to the input on the frontend?"
Hi,

I've seen that you can pass an array for a value to getInputHtml: `public function getInputHtml($field, $value = [])` how would I write this on the front end? Twig is a bastard with arrays right so you have to pass it a "hash"?

Having no luck with: `{% set input = craft.formBuilder2.getInputHtml(field, {"value":craft.request.url}) %}`

Any ideas on what I can do to accomplish that?

Cheers

[2016-06-21 13:22] lexbi commented on #52
Sorry forgot to get back to you about this, just tried in firefox, same as chrome

[2016-06-21 16:24] owldesign commented on #25
You can always just put in the hidden field manually... which would probably be better route so you don't have to duplicate the same form (in the cms) with different hidden fields.

<input type="hidden" name="page" value="{{ pageTitleOrWhatever }}" />

[2016-06-21 16:26] lexbi commented on #25
Would the value still save to the form submission?

On 21 June 2016 at 17:24, Vadim Goncharov <notifications@github.com> wrote:

[2016-06-21 16:55] owldesign commented on #25
Yep, however there is extra step. Because I'm fetching craft fields to display submission data (or data sent to email) you will need to create a field in the CMS. Don't need to attach that field to the form just create it so its there.. For example..

`<input type="hidden" name="page" value="{{ entry.title }}">`

And create a custom field called `Page` with `page` handle. Thats it, your form submi

[2016-06-22 07:54] lexbi commented on #25
Works great thanks!

[2016-06-22 07:57] lexbi commented on #54
This is possible using the method on this issue: https://github.com/roundhouse/FormBuilder-2-Craft-CMS/issues/25#issuecomment-227494483

Though I would still like to know how to pass data to the `$value` array (if that's possible)

[2016-06-22 08:04] lexbi commented on #5
Completely forgot about this issue (sorry it appears that I'm good at that), I'm still getting this error with ajax enabled on a local copy of the site, it 400 errors on the post request:
![image](https://cloud.githubusercontent.com/assets/2337910/16258966/2a82158e-3858-11e6-9ccc-551cfc496f9d.png)

Here is the log for that request:

    2016/06/22 07:59:17 [error] [exception.Craft\HttpException.40

[2016-06-22 08:19] lexbi opened #55 "redirect to same page as form but with query string"
I would like to be able to redirect after a form submission to: `{{ craft.request.url }}?message=thankyou` which despite being hardcoded in the form like this:

    <input type="hidden" name="formRedirect" data-custom-redirect="{{ formSettings.formRedirect.customRedirect }}" value="{{ craft.request.url }}?message=thankyou">

It still redirects to `/?message=thankyou` even if you are on an alternat

[2016-06-22 16:43] owldesign commented on #5
@lexbi you getting any js errors? If you have ajax enabled on the form and it sends you to this page then the js isn't firing. Also double check that you have `{% set scripts = craft.formBuilder2.includeScripts(form) %}` in your template

[2016-06-22 16:53] owldesign commented on #55
@lexbi add this field to your form `<input type="hidden" name="redirect" value="{{ craft.request.url }}?message=thankyou">`

Make sure your form settings don't have a custom redirect enabled and it will work. I will need to refactor this later also.

[2016-06-22 16:53] #55 closed

[2016-06-23 08:27] lexbi commented on #5
I do have that line you suggested in my code. No JS errors in the console (with preserve on) after submitting the form. Still get the same 400 error.

[2016-06-23 08:30] lexbi commented on #55
This works great, thank you!

[2016-06-23 08:38] joepagan opened #56 "HTML template for "notify submitter" notification email"
As a feature request (if you are not already planning to do this) I would love to have the same template options to make it look better for submitter notifications just like you have setup for the admin notifications.

The notification emails are a bit underwhelming at the current time:
![image](https://cloud.githubusercontent.com/assets/2337910/16296845/fb8ad6d4-3925-11e6-8b95-419f546d10fe.png)

[2016-06-26 15:25] InigoWD commented on #9
I have the same problem- one of my text inputs is different to the others and requiries different markup. Amazing that this is beyond the bounds of the plugin...

[2016-06-27 11:47] InigoWD commented on #5
I also have the same issue- no js errors, just this 404 error. As the page request is going through, the problem would appear to lie with the included script

[2016-06-27 16:45] owldesign commented on #5
Its kind of hard to troubleshoot this because it works for me. @lexbi in your network tab can you click on the `about` path, it should give yo more info, also click on response tab and see if you can get any error info from that?

EX:
![screen shot 2016-06-27 at 9 45 14 am](https://cloud.githubusercontent.com/assets/438764/16387946/dca2ee4a-3c4b-11e6-840d-df946f92137d.png)

[2016-06-27 18:13] lexbi commented on #5
The response is markup for the page that I showed you:

![image](https://cloud.githubusercontent.com/assets/2337910/16390519/1bff9abc-3c9b-11e6-975c-108507ff31e3.png)

![image](https://cloud.githubusercontent.com/assets/2337910/16390500/06573f80-3c9b-11e6-9b3a-728bfa97e176.png)

    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
    <head>
    		<meta http-equiv="X-UA

[2016-06-28 11:39] quadri-bvba opened #57 "Error on file upload "Craft\AssetFileModel.originalName" is not defined""
I've got a form working, but as soon as I add and enable a file-upload field, i'm getting this error: The attribute "Craft\AssetFileModel.originalName" is not defined. Any ideas on what's causing this?
Craft CMS 2.6.2791 / Formbuilder 2 v0.1.1

[2016-07-04 07:09] Muffassa opened #58 "Delete submissions"
Hi, may i delete form`s submissions without deleting form?

[2016-07-06 03:03] owldesign commented on #58
Yes you can, under FormBuilder2 sidebar menu go to `Entries`, click on the id of the entry you want to remove. In the entry detail page there is a button to remove that entry.

[2016-07-06 03:03] #58 closed

[2016-07-09 11:12] compleatguru opened #59 "Is there an example of a form with a matrix field?"
I hope to have  an example of a form with a matrix field?

[2016-07-12 19:21] noahread opened #60 "Multiple emails in the Notification Email"
Is it possible to add multiple emails to the Notification Email field for a form?

[2016-07-12 19:23] owldesign commented on #60
Yes, comma separate them and you'll be golden

[2016-07-12 19:23] #60 closed

[2016-07-12 19:39] noahread opened #61 "Custom Field Markup in Database"
It would be great to be able to store custom field data in a field in the CMS rather than in template/custom/inputs. This would allow updating the plugin without fear of overwriting custom markup (I set up custom markup to add the email field type to text inputs). I imagine something like [seomatic](https://github.com/nystudio107/seomatic)’s robots.txt field.

[2016-07-18 00:02] webphpdeveloper opened #62 "FormBuilder 1.4.3 to FormBuilder 2"
Hello! We are using FormBuilder 1.4.3 and need to upgrade the plugin to use it on craft 2.5 and 2.6 (now we are stuck at 2.4)
I can not find any information how to migrate from v1 to v2.  Do I simply delete the old plugin and upload this one and all the templates with the forms made in FormBuilder 1.4.3 will work with FormBuilder 2 ? Or its completly something apart and we have to change templates

[2016-07-18 03:10] owldesign commented on #62
@webphpdeveloper v2 is a major version release and unfortunately it'll be like a new install with new templates.

[2016-07-18 03:10] #62 closed

[2016-07-19 20:22] owlaza commented on #57
I am having the same issue.

[2016-07-20 14:15] migswd opened #63 "Translation"
Is there an easy way to translate the error messages and submit button label ?

[2016-07-21 16:24] fractorr opened #64 "Not all entries visible in entries listing page after database push"
I have a site that was up and running for a few days and I made some modifications on our development server and push the entire dev database to the live server except for the form builder tables (craft_formbuilder2_entries and  craft_formbuilder2_forms).  On the dash board it shows there are 4 entries, when I go to the entries listing page it only shows 1 entry.  When I look at the table in the d

[2016-07-21 16:56] owldesign commented on #64
Do you have any forms created? How many?
On the entries page is the `All Submissions` tab selected?
I know silly questions, but just making sure?

[2016-07-21 17:09] fractorr commented on #64
Yes I have just one form created, and yes All Submissions tab is selected.

In the databse the form has an ID of 1 and all entries have a formId of 1 and the entries title matches the name of the form.

[2016-07-21 17:33] owldesign commented on #64
I'm not exactly sure what would cause this, can you think of the significance of the one entry that does show up? Was that entry submitted after you updated the db?

[2016-07-21 17:57] fractorr commented on #64
No all 4 entries were in the db before I updated the db.  I can not see any significant difference between the 1 visible entry and the 3 that are not visible.  I have not tried to submit any entries after updating the database as I wanted to get this fixed first.  Here are the basic fields of the 2 tables, the entry with id 225 shows, the others don't.

**Forms**

id | name | handle | fieldLayoutI

[2016-07-21 18:05] fractorr commented on #64
I tested the form and was able to submit an entry and it shows up in the entries list in the control panel.

[2016-07-21 18:12] owldesign commented on #64
So for the dashboard entries count I hit `craft_formbuilder2_entries` directly and get the count of entries.

The entries listing is built using a custom `FormBuilder2` EntryType. I have a feeling that there was a chain broken somewhere in the table relationships. I don't have a lot of db experience to understand exactly how craft connects form submissions to the entrytype and craft elements thoug

[2016-07-21 18:41] fractorr commented on #64
Great, that is problem.  The relationship between craft_elements and craft_formbuilder2_entries.  When I pushed the db from dev to live it screwed up that relationship, it just happened that there was a form entry with an id of 225 on the dev db.  I know what I need to do to fix, it now just a matter of figuring out how to fix it.  So this was my bad not fully understand just how form builder work

[2016-07-21 18:42] owldesign commented on #64
OK good luck, let me know if anything else.

[2016-07-21 18:42] #64 closed

[2016-07-21 18:48] fractorr commented on #64
After some manually tweaking of data directly in the database I was able to get this fixed.

Thanks for the help.

[2016-08-01 17:16] owldesign commented on #5
@lexbi @InigoWD you guys mind letting me know a list of fieldtypes you are using within your forms (plain text, checkboxes, etc)? And all the settings on the form? I'm going to try and recreate exactly what you guys have and see if I can track down this issue further. thanks.

[2016-08-02 17:49] owldesign commented on #57
File uploads are now fixed, let me know if anything changes.

[2016-08-02 17:49] #57 closed

[2016-08-02 17:52] #48 closed

[2016-08-02 17:56] owldesign commented on #50
@Sidneyvp  Unfortunately what you suggesting cannot be accomplished with this plugin. You'd probably be better off writing some js for this type of functionality or a custom plugin.

[2016-08-02 17:56] #50 closed

[2016-08-02 21:03] owldesign commented on #15
@pixeljitsu file uploads now use dynamic folder location for uploads. You can also rename uploaded files via the submission entry page by double clicking the name or the thumb..

![screen shot 2016-08-02 at 2 02 46 pm](https://cloud.githubusercontent.com/assets/438764/17345217/dbfcd14c-58b9-11e6-8311-3fa2f50dc46e.png)

[2016-08-02 21:03] #15 closed

[2016-08-02 21:04] #19 closed

[2016-08-02 21:42] lexbi commented on #5
At the moment on a site I'm working on I have 4 plaintext 1 plaintext multiple rows, but, honestly, I haven't had a form setup yet where this works.

[2016-08-02 22:51] owldesign commented on #29
Added ability to use Sprout Fields (email, phone, hidden, link).

[2016-08-02 22:51] #29 closed

[2016-08-02 23:29] #36 closed

[2016-08-04 09:08] LauraMontgomery opened #65 "PHP notice Trying to get property of non-object"
Hi, I've just installed the latest version of FormBuilder2 (a fresh install, not an update) and I'm getting a PHP notice which appears to be complaining about $sproutFieldsPlugin.

I appreciate that there may be something I've done in my set up but as far as I can tell, everything is pretty standard in terms of Craft and my usage of FormBuilder2.

I've attached the screenshots of my error message

[2016-08-04 16:41] owldesign commented on #65
Hey @LauraMontgomery sorry about that, introduced this bug couple of days ago. Latest push should fix this, thanks.

[2016-08-04 16:41] #65 closed

[2016-08-04 21:19] owldesign commented on #9
@cibgraphics @InigoWD I have added ability to add custom templates. During the loop it will check if the field has a custom template and if does it will use that instead of default once.

In your form `Fields` tab you have another option for `Custom Template` when you click the settings icon next to your field.

Place your templates in `craft/templates` folder.

Blue border to the left of your fie

[2016-08-04 21:19] #9 closed

[2016-08-04 23:38] owldesign commented on #22
@emcacace I have added ability to pass submission data to the thank you pages.

https://github.com/roundhouse/FormBuilder-2-Craft-CMS#custom-redirects

[2016-08-04 23:38] #22 closed

[2016-08-04 23:43] owldesign commented on #34
updated, thanks!

[2016-08-04 23:43] #34 closed

[2016-08-05 09:51] LauraMontgomery commented on #65
Great. I've just implemented this and all is sorted now for me. Thanks.

[2016-08-05 11:22] migswd opened #66 "HTML5 required attribute makes Chrome display a tooltip that collide with our validators"
Big problem here with Chrome and Required HTML5 attribute.
Formerly add the HTML5 required attribute on mandatory fields which makes Chrome display a tooltip with a message "Please Fill out This Field".
So first it is not translatable and is confusing with our own validators.
See here
http://stackoverflow.com/questions/5392882/chrome-popup-please-fill-out-this-field/5393041#5393041

This attribute

[2016-08-05 16:19] owldesign commented on #66
If you want to use your own validators just set your fields to not required in your field layout designer. This is not a bug but a valid html5 attribute.

<img width="553" alt="not required" src="https://cloud.githubusercontent.com/assets/438764/17443069/7f44e094-5aed-11e6-97dc-483f5aaa380d.png">

[2016-08-05 16:19] #66 closed

[2016-08-05 17:25] owldesign commented on #23
@jimmylorunning took some time but latest should have it fixed, thanks.

[2016-08-05 17:25] #23 closed

[2016-08-05 17:28] owldesign commented on #25
@danielparas I'm closing this issue, you can use instructions above.

[2016-08-05 17:28] #25 closed

[2016-08-05 17:37] owldesign commented on #54
@lexbi do you have a use case for this? I'm not exactly sure why you would want to pass a value.

[2016-08-05 17:40] #44 closed

[2016-08-05 22:12] owldesign commented on #42
@knynkwl plugin now has these functionalities.

[2016-08-05 22:12] #42 closed

[2016-08-05 22:14] owldesign commented on #35
closing this for now, if anyone run into this refer to above comments for a fix.

[2016-08-05 22:14] #35 closed

[2016-08-05 22:20] jimmylorunning commented on #23
Thanks @owldesign !

[2016-08-05 22:43] owldesign commented on #46
@shunluoifong I have added this functionality.

Create dropdown field with option values as email addresses.

<img width="748" alt="dopdownfield" src="https://cloud.githubusercontent.com/assets/438764/17452340/3b488a90-5b23-11e6-88e5-df7688728543.png">

After you add it to the forms fields tab (save first) you can now choose that dropdown field to pull custom emails.

<img width="500" alt="custome

[2016-08-05 22:43] #46 closed

[2016-08-05 23:34] owldesign commented on #24
File restrictions now work.

[2016-08-05 23:34] #24 closed

[2016-08-06 00:23] owldesign commented on #63
@migswd  you can find all the available translation strings for front-end here https://github.com/roundhouse/FormBuilder-2-Craft-CMS/blob/master/templates/translation-strings.php

But you'd need to set up your translation files by following this (I'm assuming you already knew that) https://craftcms.com/support/static-translations

Technically you can just change submit button label yourself in the

[2016-08-06 00:23] #63 closed

[2016-08-06 00:27] owldesign commented on #61
I have pushed update for adding custom field templates please refer to #9 for reference. That should give you ability to make your own input markup without the fear of them getting overwritten.

[2016-08-06 00:27] #61 closed

[2016-08-06 01:10] noahread commented on #61
Awesome! Thanks.

[2016-08-06 05:02] owldesign commented on #59
oh man this is going to be a tough one... I'll see what I can do

[2016-08-08 16:22] lexbi commented on #54
I wanted to pass a url to an input like suggested in my first comment, not really required now as I've managed it with your other suggestion here: https://github.com/roundhouse/FormBuilder-2-Craft-CMS/issues/25#issuecomment-227502511

Curious how I would write it if I did want to do that. Could be useful if you wanted to pre-set a value dynamically? Though I guess this could still be accomplished

[2016-08-08 17:04] owldesign commented on #54
Yeah, I'd say that would be the way to go. I'm going to close this ticket for now but open for discussion.

[2016-08-08 17:04] #54 closed

[2016-08-09 10:14] mtnorthrop opened #67 "The twig inspect filter does not exist"
In the latest version of this plugin, I'm no longer able to view entries because the admin view page throws an Internal Server Error that reports 'Unknown "inspect" filter.'

This seems to be caused by line 77 of `formbuilder2/templates/entries/_view.twig`: `{ file |inspect }}`

The problem is that the "inspect" filter doesn't exist. I've checked the custom Twig filters that are included in the pl

[2016-08-09 13:00] josefarrugia opened #68 "Unknown "inspect" filter"
Whenever I tried viewing a submission entry I am getting the following error:

`Internal Server Error`
`Unknown "inspect" filter.`

[2016-08-09 14:34] owldesign commented on #68
Sorry about that, had a filter left in there I used for debugging. Kate's should fix that!

[2016-08-09 14:34] #68 closed

[2016-08-09 14:36] owldesign commented on #67
You are correct it's a craft plugin I use for debugging. I have left that in there by mistake, it's out now, pull latest. Thanks

[2016-08-09 14:36] #67 closed

[2016-08-09 18:46] dguillory opened #69 "Output dropdown label in notification"
Thanks much for the plugin and all of the recent updates – it's fantastic.

I'm wondering if there's an easy way to output the label of dropdown fields in addition to the value. Being able to use a dropdown to select a recipient for the notification is great, but it would be really helpful to see the selected label (e.g. 'Sales Inquiry') in the notification instead of just the email it was sent to

[2016-08-11 17:32] owldesign commented on #69
Yes, I think so. However, it might need to wait till the next big push. I'm working on email templates editor at the moment and this is something that I can include there. Hopefully it will be worth the wait...

[2016-08-11 20:35] dguillory commented on #69
Sounds awesome, thanks. Looking forward to it.

[2016-08-13 19:42] jeremysanchez commented on #58
Unless I am completely overlooking it, this seems to be missing in the current version.

[2016-08-13 19:47] jeremysanchez opened #70 "Delete option missing"
This was closed as issue #58,  but unless I am completely overlooking it, the delete options seems to be missing from the submission entries detail page in the current version.

[2016-08-13 19:53] jeremysanchez commented on #70
Looks like the problem is in line 107 of entries/_view.twig.

`{% if currentUser == 'admin' or settings.canDoActions %}`

Seems like it is looking for a *specific* user named 'admin'. When I plug my own username in there, the delete button shows up.

[2016-08-13 19:57] jeremysanchez commented on #70
Also, the delete button shows up properly if "Allow non-admins" is toggled ON.

[2016-08-14 20:10] owldesign commented on #70
Yeah that's my bad it should have been `currentUser.admin`. Pushed up a fix, thanks!

[2016-08-14 20:10] #70 closed

[2016-08-17 06:44] owldesign commented on #69
@dguillory so... I "sort of" made a fix for this, I think this is the best option for now.

First of I added [templates](https://github.com/roundhouse/FormBuilder-2-Craft-CMS#email-notifications) check that out.

For your specific issue this is what you will need to do to achieve it (I have the code in place so going forward I will be putting this into documentation).

Basically when you making th

[2016-08-17 16:26] owldesign commented on #52
@lexbi so I updated the way you add notification templates now, you should try it and see if you can add custom logo.

[templates](https://github.com/roundhouse/FormBuilder-2-Craft-CMS#email-notifications)

[2016-08-17 16:54] lexbi commented on #52
Great I'll give it a go when I'm back at work thanks so much!

[2016-08-18 18:56] levidurfee opened #71 "Spelling mistake in readme"
`amdins` should be `admins` under [Email Notifications](https://github.com/roundhouse/FormBuilder-2-Craft-CMS#email-notifications)

[2016-08-18 18:59] owldesign commented on #71
fixed, thanks.

[2016-08-18 18:59] #71 closed

[2016-08-24 09:38] lexbi opened #72 "tab name creates class on Fieldset element with question mark character"
Would be better if it used the tab handle, rather than created a slug out of it imo.

![image](https://cloud.githubusercontent.com/assets/2337910/17925900/b8a4eeb2-69e6-11e6-9d2d-69f4ff9d9da1.png)

[2016-08-24 14:27] lexbi opened #73 "It appears that the datefield requires user to be logged in, utilises "currentUser""
![image](https://cloud.githubusercontent.com/assets/2337910/17934278/329e7300-6a0f-11e6-8d7b-f9273db5fe86.png)

[2016-08-24 15:01] lexbi commented on #9
@owldesign Can we still override the standard fields with a custom folder somehow? I would still like to customise the normal text field for example, but, I don't want to set a custom template for every field in the backend.

[2016-08-24 17:22] owldesign commented on #72
@lexbi depending how you're using the plugin. If you use the 'Forms' custom field I can put whatever we want for the tab classes, but if you're manually adding the form mark up to your front-end template, you can put whatever you want for the class.

See line `22`, I'm just getting tab name and cleaning it up with twig filters.  I don't think tabs have handle names? So filtering the name was best

[2016-08-24 17:31] owldesign commented on #9
@lexbi The custom folder way isn't there anymore. You'd have to update every field's Custom Template to your custom text field. I guests if you have a bunch of fields it would be extra work to go back and set Custom Template routes but this change is good!

[2016-08-24 17:32] owldesign commented on #73
Fixed, thanks for point it out!

[2016-08-24 17:32] #73 closed

[2016-08-24 21:50] lexbi commented on #9
Is there any way you could bring it back?
It's nice to have the option of both, I really like that you have added this option because it lets you do specific fields very easily.
BUT, as an example I have a form with like 10 text fields (I don't mind in this case but it's just an example), it's a bit annoying to add custom templates to each one especially when it's something simple like adding a `*

[2016-08-24 21:55] lexbi commented on #72
Sorry, I know this is definitely my responsibility! I was just pointing this out as a problem that I encountered when using the sampleForm, I didn't know tabs did not have handles!
Maybe this could be solved with a [a-zA-Z0-9] replace filter.

[2016-08-24 21:56] lexbi commented on #73
No probs &  thanks!

[2016-08-24 22:27] owldesign commented on #9
Ok I can provide two options

[2016-08-24 22:43] owldesign commented on #72
OK I updated `templates/forms/frontend.twig` with new twig filter.

You can use this in your form `<fieldset class="{{ tab.name | camelCase(tab.name) }}">` this filter provides handle name like class.

[2016-08-24 22:43] #72 closed

[2016-08-25 22:18] dguillory commented on #69
This works perfectly, thanks!

[2016-08-26 19:36] danielparas opened #74 "Plugin breaks Control Panel after updating to Craft 2.6.2922"
Hi, first of all thanks for this great plugin!

Just want to report a major issue. After updating to the latest version of Craft (Craft CMS 2.6.2922 released today) my control panel broke: dashboard fails to load, entires section does not load, login does not work etc..

Browser console logs:

[code]

After removing the FormBuilder plugin from the plugins folder the admin control panel functionali

[2016-08-26 19:45] owldesign commented on #74
This seems like the new update breaking it, I'll investigate if formbuilder breaks something.

[2016-08-26 20:00] danielparas commented on #74
Thanks @owldesign !

[2016-08-26 20:40] owldesign commented on #74
@danielparas it looks like a Craft issue, you need to clear the app cache in the `admin/settings` under Tools.

![screen shot 2016-08-26 at 1 40 19 pm](https://cloud.githubusercontent.com/assets/438764/18019795/adffcb32-6b92-11e6-9830-61891c6e35ff.png)

[2016-08-26 20:40] #74 closed

[2016-08-26 20:49] danielparas commented on #74
ah I deleted the cache manually by deleting files under /storage/runtime/cache but I guess that doesn't delete everything.

Thanks - solved it! :)

[2016-08-31 14:20] noregt opened #75 "E-mail input field should be set to type="email". Now it results in a system error."
Because it is set as a text field, it will accept random characters.
As a result I get a system error when submitting:

Internal Server error

E-mail error: Invalid address: asddadf

I tried setting my custom html, but that results in new problems, being that the system sends all mails to the admin and none to the submitter.

[2016-08-31 14:28] noregt opened #76 "Notification for submitter uses the template set for the admin"
As stated above. I've switched templates back and forth, but every time the system uses the template set for the admin.

[2016-08-31 14:29] noregt opened #77 "Admin notification is sent twice"
When submitting a form I first get the admin notification, then the submitter notification and then again the admin notification

[2016-08-31 16:34] owldesign commented on #75
@noregt do you mind sending me your form's settings? if possible screenshots from each of these tabs. Thanks

![screen shot 2016-08-31 at 9 33 33 am](https://cloud.githubusercontent.com/assets/438764/18137628/0410d72c-6f5e-11e6-8ec0-042629138dc6.png)

[2016-08-31 17:08] owldesign commented on #77
@noregt not exactly sure why that would happen. Make sure your `Custom Email Field` doesn't have any selection maybe?

If you don't mind sending me screenshot of your `Email Settings` tab I would troubleshoot

[2016-08-31 17:09] owldesign commented on #76
last push will fix this, thanks for tracking it down.

[2016-08-31 17:09] #76 closed

[2016-09-01 07:37] noregt commented on #75
![schermafbeelding 2016-09-01 om 09 35 59](https://cloud.githubusercontent.com/assets/534396/18159152/b54b5c78-7027-11e6-8a2f-b8a6cc4b71e7.PNG)
![schermafbeelding 2016-09-01 om 09 34 43](https://cloud.githubusercontent.com/assets/534396/18159154/b54d2f80-7027-11e6-8848-9ef3b94dabd9.PNG)
![schermafbeelding 2016-09-01 om 09 34 33](https://cloud.githubusercontent.com/assets/534396/18159153/b54c92aa-7

[2016-09-01 10:33] noregt opened #78 "Notifications for submitter and admin; from address wrong and e-mail submission field empty"
Based on issue #76 it's still a bit messy.
- First mail is to the submitter and uses the template and subject line for the admin. From address is the admin address
  -Second mail is sent to the admin, From address is again the admin address where it should be the submitter's address
- Third mail (a bit later) to the submitter is correct. (see issue #77),

I suspect that your plugin tries to send t

[2016-09-01 10:45] noregt commented on #77
You're right, with no `Custom Email Field` there are only two mails. But I do need that e-mail field, because the web admin will reply to that mail with the result that it will be send to the admin and not to the submitter.
![schermafbeelding 2016-09-01 om 12 44 26](https://cloud.githubusercontent.com/assets/534396/18164766/ec50a0ec-7041-11e6-9c05-53314f9a1c53.PNG)

[2016-09-01 12:32] noregt commented on #77
Sorry for the confusion, but this appears to be very closely related to issue #78. Took me some time to figure that out. The double admin mail has to do with the 'from mail' not working properly I guess

[2016-09-01 12:46] noregt opened #79 "Failed submission due to non existent mail address still sent as notification to admin."
When I test the form with a nonexistent mail address, for instance 'asdfasdf' (so without @ or .com), the administrator still receives this as a notification even though there's a system error.

[2016-09-01 16:04] owldesign commented on #77
@noregt so you are using the `Custom Email Field` incorrectly for the admin notification. See this ticket for usage of that field #46. You only use that field if your form has a drop down of values that depending on what value you choose will send email to specific email address. Look at that ticket for more clarity.

I'll try to update that field in the future with more instructions so users don'

[2016-09-01 16:11] owldesign commented on #79
This sounds like the expected functionality. You have admin notifications setup so they admin will get the email because the email is set in the settings. However, submitter will not get the email because they are entering incorrectly formatted email address thus why it breaks.

I don't have custom email fields in my plugins.
You have two options.
#1 Sprout Field - http://sprout.barrelstrengthdesi

[2016-09-01 16:17] owldesign commented on #75
Hey @noregt see #79 for options. Like I mentioned there you have to make your own field or use a different plugin that provides the html5 input types. FormBuilder2 only uses the field types craft provides out of the box.

[2016-09-05 16:26] torbjornlarssen opened #80 "Template displays html tags"
After I save a template with linebreaks, they show up as visible `<br>` in the email and also in the CP-template-editor if I open it again.

[2016-09-05 16:29] torbjornlarssen opened #81 "Autofill reply-to header based on field input"
It would be great to be able to choose a field which would be the source for the Reply-to header in the email, so that an admin easily can reply the submitter in question.

[2016-09-06 19:06] owldesign commented on #81
@torbjornlarssen pushed up updates for this.

You now have an option to select Reply To under your Admin Notifications settings. From drop down select which field will have users email address.

[2016-09-06 19:06] #81 closed

[2016-09-06 19:09] owldesign commented on #80
@torbjornlarssen fixed. I had to do a database change for the columns so you'll need to update your templates..basically it was saving as `<br>` tags to db and I want it to just save it as new lines.

So...whenever there is a `<br>` tag in your textarea delete it and replace with space!

Let me know if any questions. Thanks.

[2016-09-06 19:09] #80 closed

[2016-09-07 22:22] daituzhang opened #82 "How to show hard coded fields in the submission entry and email"
I have a quite complicated form, so I didn't use the fields function and just hard coded them.
But the submission content were shown as empty in the entries and the notification emails.

Is there any way I can show those fields up? Even just in emails?
If I can show them up in email, what will be the variable rule I should follow in email template?

Thank you

[2016-09-07 22:30] owldesign commented on #82
Oh yeah its not going to work like that. You have to create those fields in craft for them to show up. I might look at options in the future for hardcoded fields but not priority right now.

To get the fields to show up in email and submission all you have to do is just create those fields with the same handle name as your input `name="someName"`. You don't have to attach the created fields to you

[2016-09-08 09:22] lexbi opened #83 "When no logo is set in custom submitter notification template, it fails."
![image](https://cloud.githubusercontent.com/assets/2337910/18344164/204c3228-75ae-11e6-988a-2186a3d9a872.png)

[2016-09-08 09:30] lexbi commented on #52
Just tried this, unfortunately it still doesn't work :( I've made a video so you can witness this in action:
https://www.youtube.com/watch?v=bGkmdTFbgfE&feature=youtu.be

Don't know if this will help, but, each time I click a link to a new asset source it fires this action as a POST in the network tab:
`/index.php/admin145/actions/elementIndex/getElements`
Form data includes:

[code]

[2016-09-08 09:38] lexbi commented on #83
Hmm I'm actually getting this now despite removing the template from the form, I have also deleted the template, very strange

[2016-09-08 09:40] lexbi commented on #83
Ok so this is actually when no template is selected despite having the "admin notification" area selected.

[2016-09-08 15:16] daituzhang commented on #82
AHA!! Thank you, that makes sense!
And thank you for this awesome plugin again, I've been using it for years.

[2016-09-08 16:48] #82 closed

[2016-09-08 16:48] owldesign commented on #82
You're welcome!

[2016-09-08 16:58] owldesign commented on #83
Latest push should fix this, thanks for tracking it down.

[2016-09-08 16:58] #83 closed

[2016-09-08 17:03] owldesign commented on #52
@lexbi ah I have literally no idea what is happening here, I wonder if this is happening for anyone else or just isolated issue?

Couple of other troubleshooting options would be to turn off all other plugins but formbuilder and try again or, do you have another installation of craft you can test on?

[2016-09-08 17:51] lexbi commented on #52
This does actually happen on projects and environments for me :(

[2016-09-12 18:00] daituzhang opened #84 "Bad Request when using Ajax"
When I activate AJAX for a form, and submit it in the front end, I get this error message:

Bad Request
The request could not be understood by the server due to malformed syntax.

The form works perfectly without AJAX.

I'm on Craft Craft CMS 2.6.2791 using sendmail on lamp server.

[2016-09-13 11:34] lexbi commented on #58
It would be great if you could select multiple entries and delete them in bulk (I want to delete 50 test emails now a website is live for example).

[2016-09-15 14:04] joepagan opened #85 "Can the jquery datepicker ui be optional on date fields?"
Just found out that formbuilder2 initiates datepicker on my date field!
![image](https://cloud.githubusercontent.com/assets/2337910/18552681/63dcc4a6-7b55-11e6-8666-278d928d10a1.png)

I tend to like leaving these fields for browsers to handle now, here's chrome for example:
![image](https://cloud.githubusercontent.com/assets/2337910/18552731/a073d814-7b55-11e6-9515-7eeb5511a1ad.png)

[2016-09-15 14:05] joepagan opened #86 "Could the plugin be bundled into a folder titled "formbuilder2""
So we can easily copy & paste it into the plugins directory.

Many thanks

[2016-09-19 17:00] kevibethink opened #87 "Customizing Submit Button Text"
Is there any way to customize the text on the submit button? The form I'm using doesn't submit a message, so I just want it to say "Submit", but when I go into the templates/forms/frontend.twig and change it there it stays the same? Where is this value stored for me to edit? I've tried editing the code directly in the plugin and I even did a search replace on the whole plugin directory looking for

[2016-09-19 17:05] owldesign commented on #87
@kevibethink it is in the form settings, check screenshot bellow. Make sure you have the latest repo and this line for submit button html

`<button type="submit">{% if formSettings.submitButtonText %}{{ formSettings.submitButtonText }}{% else %}Submit Message{% endif %}</button>` <- see sampleForm.twig for example.

![Uploading Screen Shot 2016-09-19 at 10.02.45 AM.png…]()

[2016-09-19 17:05] #87 closed

[2016-09-21 08:35] apadeloup commented on #52
Hi, I have exactly the same issue, with the latest Craft version.

[2016-09-21 13:51] ischemic opened #88 "Can you add the ability to create rows and columns in the form builder"
That would be super helpful!

[2016-09-23 09:00] lexbi commented on #52
Just tried disabling all my plugins apart from formbuilder2, the problem still occurred.

[2016-09-27 09:38] lexbi commented on #85
Just found that this is actually set in the default datefield template, this can of course now be overwritten if you want to remove it for the time being.

[2016-09-27 16:23] owldesign commented on #88
@ischemic can you elaborate more what you mean? Give me an example use case please.

[2016-10-10 20:28] farrellScript opened #89 "Hidden field value not being displayed."
I'm trying to use Sprout Fields with FormBuilder2 but when I use a hidden field the value doesn't show in the HTML. So I'm seeing this:
`<input type="hidden" id="foo" class="foo" name="foo">`
when I think I should be seeing this:
`<input type="hidden" id="foo" class="foo" name="foo" value="bar">`

[2016-10-11 19:26] m-soyka opened #90 "Form file upload saves to wrong directory"
When I upload a PDF file from the FormBuilder's front-end, the submission is successful, but it places the newly uploaded asset into an unspecified directory. Any ideas why this may be occurring?

Appreciate your help.

![applying-field-to-form](https://cloud.githubusercontent.com/assets/16545161/19285153/03845a84-8fc7-11e6-9821-93d93b107427.jpg)
(Applying the created asset field to the form)

![f

[2016-10-13 10:01] hungle88 commented on #90
In Step "Creating the asset source directory in uploads"
I think the URL Input should be an URL, not a path.
Haven't tried it, though.

[2016-10-20 21:28] monkeyArms opened #92 "AJAX forms not reset correctly when using 2 or more forms on a page"
When a page has multiple AJAX-enabled forms, only the first form on the page is reset after successful submission.
This is due to /resources/js/ajaxsubmit.js (line 4):
`theForm = $('form.formbuilder2');`
and line 21:
`return theForm[0].reset();`

[2016-10-25 15:27] waswebb opened #93 "Adding Column to the form"
Hi,

I think you have build a very cool Plugin! I link it very.

But it would be nice to have the option to wrap Fields in Column.

Like this:
![bildschirmfoto 2016-10-25 um 17 21 33](https://cloud.githubusercontent.com/assets/21307389/19692436/3936800a-9ad8-11e6-9ced-80555ee08c70.png)

[2016-10-27 21:03] MaterialWORKS commented on #5
Not sure if this is sorted yet but noticed when the custom email field is set it dosn't seem to work and gets the 500 error, leaving that blank and it sends

[2016-10-27 23:02] lexbi commented on #5
@owldesign maybe you should send this to craft support see if they can suggest anything? Maybe they have experienced this before?

[2016-10-27 23:03] lexbi commented on #52
@owldesign maybe you should send this to craft support see if they can suggest anything? Maybe they have experienced this before?

[2016-10-29 21:04] mvdt commented on #52
Same issue here, with the latest Craft version.

[2016-10-31 12:03] SeeklesBodil opened #94 "Show input field after clicking radio button."
Hi guys,

Is is possible to only show a input field after clicking on a radio button?

Thank you in advance!

[2016-10-31 16:39] owldesign commented on #94
Not out of the box. But you can always add your own js to do that after field were rendered in?

[2016-10-31 16:39] #94 closed

[2016-11-01 12:46] SeeklesBodil commented on #94
Do you maybe have an example?

Verstuurd vanaf mijn iPhone

[2016-11-07 17:35] ajcdev commented on #52
Same issue here too

[2016-11-09 16:23] 2Steaks opened #95 "Ajax Success Event"
Hi,

Any chance you could expose a global variable when AJAX is switched on for a form? Like FormBuilder2 that takes an overwritable success function so we can track the submission?

[2016-11-10 15:32] benjo696 opened #96 "Cannot delete submission if CSRF enabled"
Could we please have a CSRF check on the delete submission form.

[2016-11-16 15:29] benjo696 commented on #52
All Element select fields in the plugin have been setup with criteria that only matches locale: **en_us**

Please replace all instances of this with something like **craft.i18n.getCurrentLocale().id**

[2016-11-16 17:22] owldesign commented on #52
@benjo696 lates push has this update, not sure if this is relevant to this specific issue? Can someone pull latest and test?

[2016-11-17 14:25] LauraMontgomery opened #97 "Documentation update"
Hi, I had a bit of an issue outputting a form by the ID and after 40 minutes, I stumbled upon the solution. It looks like the readme file needs a small update of `getFormEntryById` to `getFormById` as shown in the [Custom Redirects](https://github.com/roundhouse/FormBuilder-2-Craft-CMS#custom-redirects) section.

[2016-11-22 00:45] carlosperez commented on #84
I'm seeing this as well. Sometimes it works fine, other times it looks I get this.

[2016-12-03 20:08] #90 closed

[2016-12-12 10:54] lexbi commented on #58
Any thoughts on this @owldesign ? Can I just delete the table rows, or, would that miss something?

[2016-12-12 16:23] owldesign commented on #58
You can delete them from db, I'll see about adding the option to delete multiple

[2017-01-05 03:16] noahread commented on #78
I am having the same issue

[2017-01-10 22:26] nullvariable commented on #5
I get this error, using plaintext fields, but only when the form is setup to send emails and I have AJAX enabled. Form works fine with no emails being sent. With and without a template being set for the email.

[2017-01-10 22:41] nullvariable commented on #5
Ah, a closer look at the response data in Chrome reveals a Twig error:

[code]

[2017-01-10 22:49] nullvariable commented on #5
@owldesign I've published a PR that contains a fix which solves this issue for me.

Maybe some other folks can test this and see if it also fixes the issue for them?

[2017-01-11 03:48] #5 closed

[2017-01-11 03:50] owldesign commented on #5
@nullvariable I have merged your PR and yeah would be great if someone with the issue can test it and confirm?

[2017-01-11 03:52] #69 closed

[2017-01-11 05:27] owldesign commented on #97
Updated, thanks!

[2017-01-11 05:27] #97 closed

[2017-01-11 05:51] owldesign commented on #96
I have added this in place, master up to date. Thanks!

[2017-01-11 05:51] #96 closed

[2017-01-11 06:17] owldesign commented on #93
No real plan to add specific customization to the columns but you can currently achieve it by using fieldsets. Here are some example screenshots.. The `Add Fieldset Tab` acts like a column by adding a fieldset tag around whatever fields you include under it.

<img width="493" alt="final" src="https://cloud.githubusercontent.com/assets/438764/21837612/1ed9f732-d782-11e6-9b42-bd73e5ac2c9d.png">
<img

[2017-01-11 06:17] #93 closed

[2017-01-11 06:28] owldesign commented on #89
Latest master should have a fix for this, thanks for catching it.

[2017-01-11 06:28] #89 closed

[2017-01-19 11:19] ghost opened #99 "Send file from input with the e-mail notify."
Hi guys,

When the form is send there goes an e-mail to the person who fills in the form and the admin. There is an input field for a file, which can be selected from his / her computer.

So when the form is send, the file needs to return into the e-mail which is send to the client and admin.

But this does not work. Can you help me?

Thank you in advance,
Bodil Seekles

[2017-01-25 22:55] owldesign commented on #99
@BodilSeekles I'm getting attachments just fine. Are those attachments get saved to the Entries area?

[2017-02-01 18:10] Visiluna commented on #88
I'd like to +1 this request.

My use case is for entering a postal address.

Currently, FormBuilder renders my fields as:

[code]

I need some way to arrange the fields as:

[code]

Thanks.

[2017-02-01 19:49] Visiluna opened #100 "Success/Error Messages with Multiple AJAX Forms"
I have two forms on one page, both set to submit using AJAX. Each form is added to the page using an {% include %} tag. I did that to try to avoid any sort of confusion during parsing and rendering.

When either form is submitted, the Success/Error message area is updated for BOTH forms.

The forms otherwise appear to function correctly. Each form posts it's data to the correct form entry area and

[2017-02-01 19:52] Visiluna commented on #92
I am also experiencing this issue alongside my [other multiple form issue](https://github.com/roundhouse/FormBuilder-2-Craft-CMS/issues/100).

[2017-02-01 19:53] Visiluna commented on #100
I suspect this is related to Issue #92.

[2017-02-12 22:55] matthillco opened #101 "Fields used in multiple forms can't have different field templates"
I'm not sure if this is a bug, or if I'm using the plugin incorrectly:

I have two forms, both of which use the same field named `message`. In one form, the field uses the custom field template `textarea`, while in the other form the field template is `textarea-wide`.

But this doesn't seem to work: both forms render the field with the same template (seems to be whichever field template was last s

[2017-02-13 01:32] owldesign commented on #101
This sounds like an expected behavior. A field will only be able to have one value for `customTemplate` set. Sounds like it just keeps getting overwritten..

I'll take a look at it thought, maybe I can make custom fields take multiple `customTemplate` values based and related them to form id's

[2017-02-13 07:33] matthillco commented on #101
OK, thanks, that makes sense. I can get around it by creating separate fields, I just thought I could save some time by re-using fields :)

[2017-02-14 12:13] billythekid opened #102 "Releases / tags"
Just a suggestion rather than a bug or anything. I downloaded the latest release and it was 0.1.0, meaning the docs weren't quite aligned. Couldn't work out how to make custom html that wasn't in /templates/custom/input etc. Things were missing.

It might be an idea to update your releases in addition to setting the tags on them to prevent future downloaders running into this problem as tags are c

[2017-02-14 17:28] owldesign commented on #102
Release updated, I've never used that before, thanks for pointing that out.

[2017-02-14 17:28] #102 closed

[2017-02-16 12:37] billythekid opened #103 "Editable Table"
Is there any way to get an editableTable field into this as it stands?

I was thinking it would be easy enough to ask users to 'add a row' in the templates/js (or directly copy the editableTable template include from core) but even setting a table field to use a text input template doesn't render anything, even though the form builder allows us to add the table field.

Would just be an array of ro

[2017-02-17 21:26] jayhlee opened #104 "Bulk deleting submission entries?"
Is there a way to bulk delete submission entries? Thanks!

[2017-03-31 17:23] dubcanada opened #106 "Support PHP 5.3"
Hello,

There is a mix of `[` and `array(` used throughout this project. I think since CraftCMS supports PHP 5.3, this plugin should as well. So I went through and converted all the new array syntax to the old (`array()` syntax)

[2017-03-31 17:25] owldesign commented on #106
@dubcanada I agree. You can do a pull request or I can update that in my future push.

[2017-03-31 17:33] #106 closed

[2017-03-31 19:41] dubcanada opened #108 "Edit page on PHP 5.3"
Not a 100% sure if it is related to PHP 5.3 but on my server the _edit.twig inside `templates/forms` won't show the JS/CSS from the header partial. I need to manually add it to the top of _edit.twig

[code]

[2017-04-01 00:34] lboaretto opened #109 "Feature request: download uploaded assets"
In the list of uploaded files, it's possible, by giving two clicks, to have the normal Craft popup. It would be interesting to have an option to download the files.

Thanks!!!

[2017-04-01 00:45] lboaretto opened #110 "Make normalizeFilesForElementsTable translatable"
No Uploads,
X File Uploaded and
X Files Uploaded

Thanks!

[2017-04-05 09:28] disco666 opened #111 "Feature request: Custom recipient, such as custom subject"
Hey there,

it would be great if the recipient of a submission was customizable such as the subject.

Thanks and kind regards,
Lars

[2017-05-01 22:50] evanwarner opened #112 "Typo in README"
Just noticed a little typo in the plugin README, under [Creating Forms](https://github.com/roundhouse/FormBuilder-2-Craft-CMS#creating-forms):
`Use Custom Redirect` - [...] and is **relevant** to your domain.

I think you mean **relative**?

[2017-06-01 10:11] cybi33 commented on #104
Hi, only direct in the database table ! Easy to find ;-)

[2017-06-15 14:19] StevenVerbiest commented on #9
@owldesign Did you reimplement the 'old' option? Or is overriding each fields template the only way of setting custom html?

[2017-07-13 18:42] Reddogdesigns opened #113 "Ajax form submitting twice"
Form data is being submitted twice when using Ajax

[2017-07-14 23:26] owldesign commented on #111
You can customize subject line for recipients. `Email Subject`
![customsubject](https://user-images.githubusercontent.com/438764/28234130-2cab6218-68b1-11e7-8b25-7bd5b5902144.png)

[2017-07-14 23:26] #111 closed

[2017-07-15 00:01] owldesign commented on #113
Can you tell me more? Are you using multiple forms on the same page?

[2017-07-15 00:27] Reddogdesigns commented on #113
Hi,

Just a single form on this page:

http://www.gdnielsen.com/contact-us

The form submits but results in duplicate entries in the system along with duplicate notifications to the admin.

Thanks

Mike

--
Michael Hughes
Reddogdesigns

w: www.reddogdesigns.ca
e: mhughes@reddogdesigns.ca
t:  604.787.5328

[2017-07-15 03:34] owldesign commented on #113
Can you post here or email me screenshots of your forms Email Settings. Specifically I want to see how your have your Admin and Submitter notification settings setup?

vadim@owl-design.net

[2017-07-15 04:04] owldesign commented on #88
Might be an overkill, since this can just be achived with css. I will make a video tutorial on how to achive that.

[2017-07-15 09:14] frankpapenmeier commented on #96
I encountered the same error with current master.

It turned out that your commit from  Jan 11, 2017 did not solve the issue because it adds the original CSRF and not current CSRF to the delete form.

Doing the following resolved the issue for me:

In file templates/entries/_view.twig

REPLACE
[code]
WITH
`{{ getCsrfInput() }}`

[2017-07-15 17:51] owldesign commented on #96
@frankpapenmeier I made the update, thanks. Will be fixed on next push.

[2017-07-15 18:21] #75 closed

[2017-07-16 06:17] owldesign commented on #95
There is a custom event now you can use:

https://github.com/roundhouse/FormBuilder-2-Craft-CMS#ajax-submission-event

[2017-07-16 06:17] #95 closed

[2017-07-16 06:18] owldesign commented on #112
Updated, thanks.

[2017-07-16 06:18] #112 closed

[2017-07-16 06:18] owldesign commented on #104
I added bulk deleting.

[2017-07-16 06:18] #104 closed

[2017-07-16 06:19] owldesign commented on #92
Fixed.

[2017-07-16 06:19] #92 closed

[2017-07-16 06:19] owldesign commented on #86
updated.

[2017-07-16 06:19] #86 closed

[2017-07-16 06:20] owldesign commented on #56
You can create templates for both admin and submitters now.

[2017-07-16 06:20] #56 closed

[2017-07-16 06:20] owldesign commented on #100
Fixed.

[2017-07-16 06:20] #100 closed

[2017-07-16 06:22] owldesign commented on #84
I updated ajax submission functionality. Closing this for now.

[2017-07-16 06:22] #84 closed

[2017-07-16 06:23] owldesign commented on #113
Also I pushed up new updates today and ajax submissions have changed. I would try to pull and see if you still have issue.

[2017-07-16 06:23] owldesign commented on #45
I updated ajax submission functionality. Closing this for now.

[2017-07-16 06:23] #45 closed

[2017-07-16 06:26] owldesign commented on #110
added.

[2017-07-16 06:26] #110 closed

[2017-07-16 06:38] owldesign commented on #52
I'm closing this one as the plugins had many updates since this issue was opened.

[2017-07-16 06:38] #52 closed

[2017-07-18 23:14] owldesign commented on #113
Im closing this one, it was unrelated to the plugin.

[2017-07-18 23:14] #113 closed

[2017-07-19 17:14] rizzledizzle opened #114 "500 error with notify admin"
After updating to the latest version, if i try and turn on Notify Admin, an error is thrown. Using your sampleForm.twig and a basic form with 3 plain text inputs, if i turn off Notify Admin form submits fine and my redirect works. if i turn it on, a 500 error is thrown in the console: POST http://url.com/actions/formBuilder2/entry/submitEntry 500 (Internal Server Error). Any ideas what i'm doing w

[2017-07-19 17:25] owldesign commented on #114
Can you post screenshots of your form settings? Please attach all tabs, I need to recreate your form.

[2017-07-19 17:51] rizzledizzle commented on #114
Hi thanks for getting back to me so quickly :) ignore the first post as i had rolled back to a previous version to try and fix my original issue so the above diagnoses is wrong.

So, my original issue was that redirects to a url had stopped working on form submission. having played around more, i have diagnosed the problem - if ajax submission is switched on, redirects to a url do not work (but th

[2017-07-19 17:55] owldesign commented on #114
Ok, I'll check..but, why do you use ajax if you will be redirecting anyways? Why not just stick to regular post?

[2017-07-19 17:57] rizzledizzle commented on #114
that is a good question :) another developer had set up and installed the plugin, so i'm just working things out now - i think as you say its better to just switch of ajax as it sort of defeats the purpose if you are redirecting to another page.

[2017-07-19 18:00] owldesign commented on #114
Yeah, now that we talked about it, I think I will try to disable redirects when ajax is switched on because there is no reasons for them at that point..

If that fixes it, can you close issue please.

[2017-07-19 18:02] #114 closed

[2017-07-19 21:27] owldesign commented on #78
Latest push has `Reply To` setting, use that to set reply to email field.

[2017-07-19 21:27] #78 closed

[2017-07-19 21:28] owldesign commented on #77
Closing this, `Reply To` settings was added, use that to set to submitters email field.

[2017-07-19 21:28] #77 closed

[2017-07-19 22:01] owldesign commented on #108
I'm not sure, seems to work fine. I'm closing this one since one else is experiencing this issue. If the issue persists, please reopen and I'll troubleshoot further.

[2017-07-19 22:01] #108 closed

[2017-07-20 10:02] mark-adigital opened #115 "Check performAction after entry service onBeforeSave event raised"
Hi,

I was hoping to be able to write a plugin to prevent form entries from being written to the database. You have provided the `onBeforeSave` event in the Entry Service but this doesn't currently check the status of `performAction` before saving the entry, could this be added please?

Many thanks,

Mark

[2017-07-20 21:48] owldesign commented on #101
@matthillco you can now use different templates on the same field (across multiple forms)

[2017-07-20 21:48] #101 closed

[2017-07-20 21:49] owldesign commented on #85
@joepagan you can now disable date/time picker from the form settings.

![screen shot 2017-07-20 at 2 49 11 pm](https://user-images.githubusercontent.com/438764/28440326-a17dc27c-6d5a-11e7-9096-e85368f0ab75.png)

[2017-07-20 21:49] #85 closed

[2017-07-20 22:20] joepagan commented on #85
Cheers dude!

[2017-07-21 00:01] owldesign commented on #115
There are functionalities during form submission that require a database entry. I would need to refactor that functionality...with that said, it'll will probably take me sometime to do that.

[2017-07-21 08:19] mark-adigital commented on #115
Thanks for getting back to me. Ok, would it be any easier if some new event was raised after submission so I could delete the entry from the database through an event listener at that stage?

[2017-07-21 21:55] owldesign commented on #115
@mark-adigital I added event you can use, here's usage example:

[code]

[2017-07-21 21:55] #115 closed

[2017-07-21 22:46] owldesign commented on #99
closing due to inactivity.

[2017-07-21 22:46] #99 closed

[2017-07-21 22:47] #79 closed

[2017-07-24 14:26] mark-adigital opened #117 "Class 'Craft\FormBuilder2_OnBeforeSaveEntryEvent' not found"
Hi again,

Thanks for adding that new event in, however I tried updating our version of the plugin today and hit an issue with the forms (AJAX submissions):

[code]

Would be grateful if this could be resolved.

Thanks,

Mark

[2017-07-24 16:19] owldesign commented on #117
Please pull, latest pull request has fixed the typo in the class.

[2017-07-24 16:19] #117 closed

[2017-08-01 13:43] rizzledizzle commented on #88
If anyone is interested i got the desired effect above with something along these lines:
[code]
basically i change the class dependant on the amount of fields in each tab, that affects whether it is full width, two col layout or three col layout. Any higher and it just defaults to two fields per row in this example. markup/class names will change dependant on your framework etc. but the principal

[2017-08-04 10:18] joepagan commented on #5
Sorry for not being able to test this, I haven't worked on a site that uses formbuilder in a long time now!

I have just updated to the latest version I can confirm the issue was still there for me.

After a bit more investigation I realised that the bad request page should never be seen which means that the code you've setup to submit with ajax is not returning false on submit.

The reason this e

[2017-08-09 07:30] bodilseekles opened #118 "Crashing after latest updates"
Hi Guys,

When i update the plug-in my sites will by un available, so it's crashing unfortunately.

Can you help us?

Thank you in Advance!

[2017-08-09 07:33] owldesign commented on #118
When you update the plugin, make sure you run the db update too. When you login to /admin you should be propmped with "Finish Up" modal. Did you do that step, it should be automatic when you login to your dashboard?

[2017-08-15 09:23] martinsmith opened #119 "Bad Request - Again"
Hi there,
We installed and tested the plugin some time ago during a website development.  We updated to the latest version a few weeks ago but have only just come to test.  We're getting the following error only when using AJAX:

Bad Request - The request could not be understood by the server due to malformed syntax.

I've seen this issue has come up previously and seems to have come back.

Any ad

[2017-08-21 09:30] mrnebbi commented on #118
Wondering if @bodilseekles is having the same problem as us. Updated the plugin folder from 2.0.13 to 2.0.16 and now the site is not loading, and the admin won't load either. Renaming the formbuilder2 plugin folder to something else allows everything to work as normal.

Admin gives: ERR_EMPTY_RESPONSE
Site gives: ERR_INCOMPLETE_CHUNKED_ENCODING

[2017-08-21 09:31] bodilseekles commented on #118
Yes, that’s the same problem!

Ik vertrouw erop u hiermee voldoende te hebben geïnformeerd.

Met creatieve groet,

Bodil Seekles
Webdeveloper

 <http://twitter.com/bubblefishnl>  <http://www.facebook.com/bubblefishinteractive> <http://twitter.com/bubblefishnl>

bodil@bubblefish.nl <mailto:bodil@bubblefish.nl>
Hoofdnummer: 010 304 50 40
Direct nummer: 010 304 50 44

www.bubblefish.nl <http://www.bu

[2017-08-21 09:39] mrnebbi commented on #118
@bodilseekles did you have any luck with a fix? I tried rolling back to 2.0.15 from the release page, but same problem.

[2017-08-21 09:43] bodilseekles commented on #118
No unfortunately not..

I made a back-up from the ‘old’ folder and put that back, so my website keeps on living! ;-)

Ik vertrouw erop u hiermee voldoende te hebben geïnformeerd.

Met creatieve groet,

Bodil Seekles
Webdeveloper

 <http://twitter.com/bubblefishnl>  <http://www.facebook.com/bubblefishinteractive> <http://twitter.com/bubblefishnl>

bodil@bubblefish.nl <mailto:bodil@bubblefish.nl>
Ho

[2017-08-21 09:52] mrnebbi commented on #118
Yes seems to work when rolled back to the 2.0.13 version that was previously used. Will have to wait for a fix before updating. Thank you for confirming it's not just me!

[2017-08-21 10:00] mrnebbi commented on #118
Now working!

@bodilseekles I had some Craft updates to run, Craft was on 2.6.2984 and now 2.6.2989. Tried FormBuilder on 2.0.16 again after updating Craft and now it's working!

Hope this helps someone else.

[2017-08-21 11:55] mrnebbi commented on #119
We're also getting these bad request errors when trying to submit the form with AJAX

[2017-08-21 16:10] owldesign commented on #119
I am refactroing a lot of the code right now and will be updating the ajax submissions as well..

[2017-08-22 08:17] mrnebbi commented on #119
Thanks @owldesign! Appreciate the work, but any idea of timeline? Using FormBuilder in a project due to go live shortly, and still having issues with the contact form setup.

[2017-08-22 17:36] owldesign commented on #119
@mrnebbi It'll be some time for the new update, its a pretty big update.

If you can email me your db dump and the craft template files, I can try and track down the issue..

vadim@owl-design.net

[2017-08-31 00:08] WestCoastDigital opened #120 "Slack Integration"
Is it possible to integrate forms to be sent to Slack?

[2017-08-31 00:12] owldesign commented on #120
@WestCoastDigital Not right now, but im in the process of updating the plugin so I can look into making that integration possible. Can you give me some details what you're looking for? Like link to submittion sent to slack channle or user? Or post slack message with submission contents? or somethin else?

thanks.

[2017-08-31 00:27] WestCoastDigital commented on #120
Ideally submit form content to slack channel. I am trying to see if I ould get Slack Notifications to work using perhaps the FormBuilder2_OnAfterSubmissionCompleteEvent event, but not having any joy unfortunately

[2017-08-31 00:27] WestCoastDigital commented on #120
Could be me though as I am new to Twig and Craft (WordPress dev normally but we are switching to Craft)

[2017-08-31 00:46] owldesign commented on #120
Yeah Craft is great, good choice.

Here's an example how I used slack notifications before: https://gist.github.com/owldesign/02f67064ec56ce25a8cb5d655adbc9f5

Soo.. in your plugins `init()` function you can catch the event.

[code]

And add code from gist to your plugins.php file as well (not inside the init() function, but somehwere in side the class.

I haven't testing this code, but this is th

[2017-08-31 11:55] ronkko commented on #118
I have the same problem. I'm able to open other menus but Forms and Configuration gives me an error: Internal Server Error: An error occurred when rendering a template."
Rolled back 2.0.16 -> 2.0.13 without help.
Craft CMS 2.6.2989

[2017-09-11 15:48] ethanmuller opened #121 "Craft 3 Compatibility"
Hey there!

Are there any plans to make this plugin compatible with Craft 3?

I've done some poking around in closed issues and branches and I couldn't find any evidence of it, but I figured it's worth asking.

[2017-09-11 16:16] owldesign commented on #121
Yes, I have plans to convert this to Craft 3. No real roadmap right now though.. Right now I'm refactoring current plugin and once that is done, I will be working on craft 3 version.

thanks.

[2017-09-11 16:16] #121 closed

[2017-09-13 06:45] lastgiven opened #122 "Feature add in."
Hi there,

I know you added the custom field back after requests, but why did you not just add a global template select?

Where a person can just create his templates with fields and just assign that global theme?

When it is empty it just uses the generic theme.

Please let me know if you would do anything like this.

[2017-09-13 15:49] owldesign commented on #122
Are you talking about form inputs styling? You say global theme and global templates, are those two separate items?

The custom template select on fields right now is for if you wanted your own different input markup, styles should inherit from the website styles.

Or maybe I'm not understanding what you're asking?

[2017-09-13 16:11] lastgiven commented on #122
Talking about the custom template select for the inputs. Just thought it would work easier/simpler if you just assign a root folder for your form instead of assigning for each individual input.

[2017-09-13 16:23] owldesign commented on #122
Not a bad idea, I'll look into it

[2017-09-13 16:26] lastgiven commented on #122
Thank you.

If you need anything from me please let me know.

[2017-09-20 22:48] RitterKnightCreative opened #123 "Notify Admin is also sending submitter an e-mail"
If I turn off notify admin and submitter, I don't get anything as expected.

If I turn on notify admin, both the admin and the submitter are getting identical e-mails.

[2017-09-21 20:55] jefffulton opened #124 "Pulling Notify Admin Email from Entry"
There is a form on every page of a Channel. I need the notification to go to the recipient listed on that channel entry. Is it possible for the form to get the notification email sent to {{ entry.groupLeaderEmail }}?

[2017-09-21 21:35] owldesign commented on #124
Not exactly sure what you are are asking. Can you give me more details or usecase example?

[2017-09-21 22:00] jefffulton commented on #124
Sorry about that... I've created profile channel for people in the organization (name, email, photo, etc). I've placed the form on each individual page, and I would like it to send a notification to the profile's email; in this case {{ entry.groupLeaderEmail }}. So, I would like the notification email address to be pulled from an entry on the page itself.

Here is an example page from the channel:

[2017-09-21 22:55] jefffulton commented on #124
`<input type="hidden" name="recipient" value="{{ entry.groupLeaderEmail }}">`
in the template is rendering as
`<input type="hidden" name="recipient" value="lizf@fultondesign.net">`
... but I tried the form and it didn't go through.

Do I need to do something special in Forms > Email Settings > Notification Email?
I currently have that set to {{ entry.groupLeaderEmail }}

[2017-09-21 22:56] jefffulton commented on #124
Forgot to mention. I uninstalled and deleted the plug-in... and did a fresh install.

[2017-09-21 22:57] owldesign commented on #124
Yeah you'd have to have Admin Notifications turned on the form, is that toggled on?

[2017-09-21 23:01] jefffulton commented on #124
I do.
![screen shot 2017-09-21 at 4 00 52 pm](https://user-images.githubusercontent.com/29638703/30722440-187345a2-9ee6-11e7-95b4-6d1fafbc09c6.png)

[2017-09-21 23:07] owldesign commented on #124
Its probably thorwing the error somehwere. You need to put in some email address into `Notification Email` that won't work and might break, that field is expecting a valid email value (is there a generic email you can put there?).

And I wouldn't set anything for the `Custom Email Field` that is meant for a select dropdown field on the frontend where a user can pick their inquery type. For example

[2017-09-21 23:18] jefffulton commented on #124
still no... If that is what "Custom Email Field" does, then could I put the field .groupLeaderEmail into there, and just set it in the template as a hidden field?

[2017-09-21 23:28] owldesign commented on #124
Nah it doesn't work like that, the functionality isn't there for it to work that way. Trying to think what it might be, I've tested this route on my end and it was working.

[2017-09-21 23:36] owldesign commented on #124
I'm workig on a better version of this plugin and I'll make sure I set something up to achive this simplier.

For now, you can try and hack the plugin code, this way we can be for certain there isn't something else going on..

If you are comfortable to edit the code open up `formbuilder2/services/FormBuilder2_EntryService.php` and add the following code after the line # `345`
Enter this code `$toE

[2017-09-21 23:58] jefffulton commented on #124
That didn't work either. I'll keep playing with the code, and let you know if I figure something out. Thank you for your assistance. It was WAY beyond my expectation.

[2017-09-23 16:55] RitterKnightCreative commented on #123
OK update on this... traced it back to the Custom e-mail field, if you set that, it's adding the submitter's e-mail address as well to the send queue.

![screen shot 2017-09-23 at 11 54 07 am](https://user-images.githubusercontent.com/3707869/30775274-f41f1426-a055-11e7-80c9-fea1e5fe93d9.png)

[2017-09-23 21:06] owldesign commented on #123
Yeah that seems to be expected functionality.

I'm working on a better version of this plugin so I'll clean all this confusing up. I'll close this ticket for now.

[2017-09-23 21:06] #123 closed

[2017-09-26 17:28] lastgiven opened #125 "Issue with uploading of files."
Hi there,

I have an issue trying to upload files.

It uploads the file to the incorrect folder for some reason and cannot find a way around it. It constantly uploads it to the first folder inside my content folder.

Could you maybe try to upload a file on your side ad see if the same is happening on your side?

Thanks in advance.

[2017-09-27 18:13] brycekirk opened #126 "RichText field doesn't render an input"
The label is generated, and nothing else. Using all default RichText settings.

Craft CMS 2.6.2990

[2017-11-03 14:30] joepagan commented on #119
Does this not fix the issue? https://github.com/roundhouse/FormBuilder-2-Craft-CMS/issues/5#issuecomment-320213443

[2017-11-03 14:31] joepagan commented on #119
I think it's because is because the default template you provide doesn't actually output the required form scripts?

[2017-11-12 22:37] stenrdj opened #127 "Form filled but can't see entries on admin"
Hey , at first let me thank you for this amazing plugin , i just have small issue , i fill the form as usual and it getting submitted  ,but when i try to see the list or read the entries i got 0 , like no entries found. how i can fix this please?
![entries](https://user-images.githubusercontent.com/4211531/32704251-edda768e-c7f9-11e7-8095-0b7196a34767.png)
![formbuilder2](https://user-images.githu

[2017-11-12 22:42] #127 closed

[2017-12-19 05:43] aaronwaldon commented on #125
I was running into this issue as well. I believe I found a fix, but I have not tested it extensively. The issue was that the folderId was being set to the value of the sourceId, so the wrong value was eventually being sent to the `craft()->assets->insertFileByLocalPath` method.

I replaced these lines in formbuilder2/controllers/FormBuilder2_EntryController.php:
[code]

with these:
[code]

Note th

[2017-12-30 13:43] samverdyck opened #129 "Adding extra columns in entries overview"
Is there a best practice for adding datacolumns into the entries overview table?
For example adding a column "mail" and "name", to identify the entry better. (and no need to open each entry to search one)

[2018-01-05 22:13] fai222 opened #130 "Enhanced custom subject"
Hi! It would be great and would give the custom subject a lot more power if we could for example put in "Custom subject: New message from {fieldName}, {fieldCountry}" or something similar. Would this be possible?

[2018-01-23 11:56] simonfranzen opened #131 "Craft\FormBuilder2_FormRecord.sortOrder is not defined"
After updating Craft and the plugin I cannot save my forms. I ran into this error:

Eigenschaft "Craft\FormBuilder2_FormRecord.sortOrder ist nicht definiert.

...craft/app/framework/db/ar/CActiveRecord.php(146)

`
134      */
135     public function __get($name)
136     {
137         if(isset($this->_attributes[$name]))
138             return $this->_attributes[$name];
139         elseif(isset($th

[2018-01-23 15:53] simonfranzen commented on #131
I had to reinstall the plugin. Problem is: We already set up several Forms on the website

[2018-01-23 19:46] owldesign commented on #131
@simonfranzen can you look at the `formbuilder2/records/FormBuilder2_FormRecord.php` file on line `28`. Do you have this line there?

`'sortOrder' => AttributeType::SortOrder`

[2018-02-05 09:43] drball opened #133 "Redirect not working after form submission"
After a form is submitted, it's not redirecting to the custom url specified in the editor. Instead it redirects to the homepage.

I've checked the template, and it's exact to the sampleform.twig. The page it redirects to exists, and I've tried adding relative and absolute urls, and even to other websites, and it always redirects to the homepage. If I inspect the dom, the value of {{ formSettings.f

[2018-02-05 10:57] drball commented on #133
I have discovered the problem. At some point the name of the hidden input field required on the form changed from "formRedirect" to "redirect", and I hadn't noticed when updated.
The correct line in full for the latest version is:
`<input type="hidden" name="redirect" data-custom-redirect="{{ formSettings.formRedirect.customRedirect }}" value="{{ formSettings.formRedirect.customRedirectUrl }}">`

[2018-02-05 10:57] #133 closed

[2018-02-08 09:58] mrnebbi opened #134 "File upload required field feedback"
I'm running 2.0.16 with a form containing only required fields. One of the fields is a file upload, however the user is able to submit the form without adding a file.

We've added required attributes, but these are ignored in < IE10, so we are relying on FormBuilder to not allow the form to submit without all fields being completed.

Help me @owldesign, you're my only hope.

[2018-02-08 19:01] owldesign commented on #134
@mrnebbi I have added asset validation, pull latest and test please.

thanks

[2018-02-09 10:45] mrnebbi commented on #134
Thanks @owldesign, I'm getting a php error though `array_filter() expects parameter 1 to be array, null given`. Tested with a `print_r` and the `$text` variable is null whether I upload a file or not.

It does this with both a custom and the default field template.
![error](https://user-images.githubusercontent.com/708691/36024003-45493d70-0d86-11e8-9ef9-2d86c9ea9f5c.jpg)

[2018-02-09 18:00] owldesign commented on #134
@mrnebbi can you please add this line above `$text = ...`

`Craft::dd(craft()->request->getPost());`

This will dump all posted data from the form, I want to see if your upload field is actually comming through.

Can you show me the output, and can you let me know which field handle in the output is file upload field?

thanks.

[2018-02-12 11:54] mrnebbi commented on #134
So, the file field is not appearing in the submit when it's blank.

[code]

The field handle is `logoUpload`.

[2018-02-12 12:54] atomworks opened #135 "Submitted data as tags in email templates"
When I'm using a template as a notifier, is there any way to add submitted content in to it?

For example if I have a field such as firstName on my form, is there anyway to include that field to do something like "Hi [firstName]" so in the email it comes out as "Hi Leonard"

I need to have flexibility like this over the notifiers but I can't find anything documented or in these issues. I may be mi

[2018-02-12 17:34] owldesign commented on #134
@mrnebbi can you view source of your form and make sure the form has `enctype="multipart/form-data"` attribute.

If not can you make sure your form settings has this toggled on?

![screen shot 2018-02-12 at 9 33 50 am](https://user-images.githubusercontent.com/438764/36110572-e07a2b12-0fd7-11e8-8e9f-d1d3f0b50250.png)

[2018-02-12 17:43] owldesign commented on #135
You won't be able to use submission variables like that in this plugin unfortunately.

However, its a future I can add to the updated version of the plugin here https://formbuilder.tools/

I'm only going to be fixing bugs in this version of plugin but not adding new features. You should try the next version for best results.

[2018-02-12 17:43] #135 closed

[2018-02-13 10:30] mrnebbi commented on #134
Unfortunately the form has the attribute, and the settings has uploads enabled.

[2018-02-22 04:32] ax2000 commented on #109
+1 on this feature

[2018-02-22 17:59] owldesign commented on #134
Hmm really not sure then, maybe try to add `Craft::dd($_FILES)` instead of `Craft::dd(craft()->request->getPost());` on line `135`. If mothing comes through then your file upload field doens't seem to function the way it should :/

Are you restricting asset field to specicif file types?

What php version you running on?

[2018-02-22 19:16] owldesign commented on #109
Latest push gives you ability to download all uploaded files.

![screen shot 2018-02-22 at 11 09 04 am](https://user-images.githubusercontent.com/438764/36559114-d6d55054-17c1-11e8-90a8-89b113619fab.png)

[2018-02-22 19:16] #109 closed

[2018-02-23 02:09] ax2000 opened #136 "Getting a 500 when downloading all uploads"
Hey guys,

Getting the following when using the "download all" uploaded files feature:

[code]

Running Craft `2.6.3011`
FormBuilder `2.0.18`
PHP `7.0.26`

Cheers,
Alby

[2018-02-23 05:12] owldesign commented on #136
@ax2000 can you tell me more about your asset field please. Like is is local file upload/S3/etc? If you View Asset does the image load up fine?

thanks.

[2018-02-23 05:24] ax2000 commented on #136
Thanks for the reply @owldesign .

Assets field is local file upload and the asset gets uploaded just fine and I can view it and download it from Craft CP > Assets.

Let me know if you need more info.

Cheers.

[2018-03-05 22:15] strohrdanz opened #137 "Asset uploading to wrong asset folder"
I have my field set to the correct asset source, but it's uploading files submitted through the form to a the first asset source. Not sure why.

[2018-03-27 14:32] simonfranzen opened #138 "Translate |t the label for frontend fields"
Currently we have to override als frontend input fields and just add `|t` after the label. Shoudnt this be something of the core ?

example:

https://github.com/roundhouse/FormBuilder-2-Craft-CMS/blob/3675f5f820bb748f5a1925ee82d46bdc878f6c5b/formbuilder2/templates/inputs/text.twig#L11

to

`{{- label|raw|t -}}`

[2018-04-02 18:33] farrellScript opened #139 "Craft 3 Update"
With the upcoming Craft 3 GA release is there any timeline as to when a compatible version of Formbuilder 2 will be released?

[2018-04-02 18:38] owldesign commented on #139
Yeah im working on a release for Craft 3.

However, it will be a commercial plugin at that point.

[2018-04-02 18:38] #139 closed

[2018-04-03 05:53] motorzen commented on #130
I would really love this capability also! For the short term, I added a little hack to /controllers/FormBuilder2_EntryController.php at line 467

**Original:**

[code]

**Modified** (hack by adding a hard-coded subject here and concatenating with customSubjectLine):
[code]

Then I set the "Custom Subject" in Plugins > Form Builder > Forms > Email Settings to use a field in the form (userName).

Th

[2018-04-10 16:11] siebird opened #140 "500 Error w/AJAX Submission"
Just updated to the latest Craft 2.6.3015 and I'm having issues submitting w/AJAX. Getting a `500` error: `Internal Server Error Property "Craft\FormBuilder_EntryModel." is not defined.`

Any ideas on what could be causing this? Thanks!

[2018-04-10 21:11] #140 closed

[2018-04-10 21:13] siebird commented on #140
Wrong issues page.  Posted here: https://github.com/owldesign/Form-Builder/issues/4

[2018-04-24 09:47] marknotton opened #142 "Relative logo url in template"
When emails come through, the logo in the head of the template is using a relative URL for the  image. I think there needs to be a check to ensure it include the full absolute URL.

In my project, the siteUrl in defined correctly. I'm using version 2.0.19.

Temporarily I've amended line 83 of `templates/email/layouts/html.twig` to this:

`<img src="{{ siteUrl }}{{ logo.getUrl() }}" style="max-widt

[2018-06-21 06:16] shgzon opened #143 "downloadAll() - server responded with a status of 500()"
When using "Download All" functionality in the plug-in FormBuilder-2 I receive an error 500. The file is uploaded to the assets folder, so that should not be the problem.

The whole callback:
`jquery-3.3.1.min.js?d=1517497477:2 POST https://www.move4u.com/index.php?p=admin/actions/formBuilder2/entry/downloadAllFiles 500 ()`

And after:
`entrydetails.js?d=1519294262:64 Uncaught TypeError: Cannot re

[2018-08-03 11:27] alexr8 commented on #137
I'm getting the same issue - files do not get uploaded to the file location specified in the assets field.

[2018-08-13 19:06] owldesign commented on #142
@marknotton works fine here. There url gets built with [this function](https://github.com/craftcms/cms/blob/master-v2/src/helpers/AssetsHelper.php#L57-L65).

Notice that its appending `$baseUrl = $sourceType->getBaseUrl();`

So you need to make sure that your Asset Source's  `URL` actually has the absolute url structure.. ex `http://yoursite.com/file/system/path` and not just `/file/system/path`

[2018-08-13 19:06] #142 closed

[2018-08-14 04:54] owldesign commented on #129
Unfortunately not with this plugin, [this rewrite of the plugin](https://github.com/owldesign/Form-Builder) will let you have field columns.

[2018-08-14 04:54] #129 closed

[2018-08-14 04:58] owldesign commented on #126
@brycekirk you need to make sure you have jQuery added. That field requires jQuery to render correctly.

[2018-08-14 04:58] #126 closed

[2018-08-14 05:04] owldesign commented on #88
Closing, can be done with css or via above example.

[2018-08-14 05:04] #88 closed

[2018-08-14 05:05] owldesign commented on #103
Unfortunately not into this version of the plugin, sorry :(

[2018-08-14 05:05] #103 closed

[2018-08-14 05:07] owldesign commented on #119
I'll be closing this, for people who ajax still broken please write your own javascript code to catch form submission and process it via ajax. I'm thinking of taking it out completely and just writing docs on how to implement it

[2018-08-14 05:07] #119 closed

[2018-08-14 05:08] owldesign commented on #118
closing this, very old, I've since pushed new releases maybe fixed?

[2018-08-14 05:08] #118 closed

[2018-08-14 05:09] owldesign commented on #59
no go, a little complicated for this plugin, can look into for craft 3 plugin.

[2018-08-14 05:09] #59 closed

[2018-08-14 05:11] owldesign commented on #124
im going to close this issue, its specific to use case and not what the pluign offers right now.

[2018-08-14 05:11] #124 closed

[2018-08-14 05:17] owldesign commented on #143
@shgzon I've pushed up new release. Please update and see if issue fixed?

[2018-08-14 05:17] owldesign commented on #138
added

[2018-08-14 05:17] #138 closed

[2018-08-14 05:17] owldesign commented on #137
fixed, verify?

[2018-08-14 09:15] alexr8 commented on #137
I've downloaded and tested 2.0.20. I can't seem to find the uploaded the asset in any of my asset sources, and trying the 'download all' button throws a 500 error. Before, the asset was uploaded to the wrong asset source, but now it doesn't appear in any asset sources.

[2018-08-14 15:40] owldesign commented on #137
i'll troubleshoot

[2018-08-16 11:28] shgzon commented on #143
@owldesign There is no more "Download-button" in the CMS? Or do I miss something?

[2018-08-16 16:01] owldesign commented on #143
@shgzon when you are looking at an entry do you see this? There is 3 dot menu top right corner of the Uploads panel.

![screen shot 2018-08-16 at 9 00 20 am](https://user-images.githubusercontent.com/438764/44220253-e8255e80-a132-11e8-871f-32e97f631472.png)

[2018-08-29 15:13] mrnebbi opened #144 "Uploading files triggers clear of template caches"
One of our forms is triggering a Deleting Stale Template Caches action anytime the form is submitted with files attached.

This results in Craft spending a good thirty seconds or more running the action and causing the page submit on the front end to hold until the action has finished. That causes the page to eventually load for the user but without the thank you message.

Any ideas what might be

[2018-09-17 10:45] adamhenretty opened #145 "Notify submitter Select Email Field."
Hi,

Does the Notify submitter Select Email Field actually work? I would expect the submission to get sent to both the Admin email address and the email address filled in via the form, but both submissions get sent to the admin email. Same issue as reported here. https://github.com/roundhouse/FormBuilder-2-Craft-CMS/issues/123

Can this be fixed so the submission also goes to the email entered by

[2018-10-04 09:01] matt-adigital opened #146 "Users cannot delete submissions"
This feature works on one of our older sites running Craft 2.6.3000 and formbuilder 2.0.16. However after upgrading on another site to Craft 2.7.0 and formbuilder 2.0.22 we are now seeing an issue.

I'm logging in as the user and then trying to delete a submission. This user has access to this section and the Allow non-admins setting is also enabled. The delete button is shown but when clicked we

[2018-10-04 16:36] owldesign commented on #146
@matt-adigital I've pushed up a fix, non admins should be able to delete now if setting is enabled.

[2018-10-04 16:36] #146 closed

[2018-10-04 16:47] owldesign commented on #144
Are you using `{% cache %}`? I think that craft clears stale templates when new elements area created. And an upload field created new Asset element when it gest uploaded, so therefore it clears the cache. That seems to happen out of the box, not sure yet how to prevent clearing cache at that point

[2018-10-05 08:37] matt-adigital commented on #146
Thank you for the quick response @owldesign I've tested and can confirm that the issue is fixed now.

[2018-10-10 08:56] iainhenderson commented on #125
I believe this is still an issue.

We used @aaronwaldon fix a while ago to get uploads working, but recently we upgraded to 2.0.23 which blasted our modifications and broke uploads again. After reimplementing Aaron's code uploads started working again.

[2019-01-24 20:31] brycekirk opened #147 "Textarea?!"
How do you make a field appear as a textarea, as opposed to the WYSIWYG editor or one-line text?

[2019-01-25 00:58] owldesign commented on #147
When you creating the field in Craft Fields are you selecting Plain Text field and checking the `Allow line breaks`?

[2019-01-25 19:21] brycekirk commented on #147
That's what I was looking for, thanks!

[2019-01-25 19:21] #147 closed

[2019-02-12 09:48] mark-adigital opened #148 "Output of field instructions"
Think I've just spotted a small issue - the default input templates appear to be outputting the instruction text in such a format that the surrounding HTML tags (`<p>` etc) are displayed as plaintext. You can see examples here: https://www.mint-homes.co.uk/property/walney-barrow/tenancy-application

Don't recall seeing this previously, so guessing it has been introduced with some relatively recent

[2019-03-12 10:52] EtienneBerlin commented on #148
I am running into the same issue. My previously styled fieldnames/descriptions are now showing unstyled with html-tags in plain text displayed in the frontend.

[2019-03-13 16:54] steveooo9 commented on #137
@owldesign @vadim-rh I fixed this issue we had for some time. The issue was that a wrong method was used to get a folder. So if `sourceId` and  `folderId` were used the wrong way. Now everything works here. Also it prevents some other bug if the asset field doesn't have the option "only in this folder" set.

Could you please add this and issue a release(.json)? Thanks!

[FormBuilder2_EntryControll

[2019-03-22 13:50] steveooo9 commented on #137
Would be great if this get's a quick fix. My attached code works fine in production (after 9 days of testing)

[2019-03-22 15:25] owldesign commented on #137
@steveooo9 ok updated and pushed up to latest, thanks for the work!

[2019-03-22 15:25] #137 closed

[2019-04-17 12:46] steveooo9 opened #149 "Add required option to file input type"
Hello,

Attached a file with the HTML5 `required` added to `<input type="file">`.

Could you merge this to the project?

[file.twig.txt](https://github.com/roundhouse/FormBuilder-2-Craft-CMS/files/3089614/file.twig.txt)

[2019-04-30 13:48] gdubois414 opened #150 "Files uploaded with an entry are zero bytes when downloaded"
I have a careers form that includes a field for uploading resumes. These are mostly .docx file types. When I view the entry in the dashboard and click "Download All" under the Uploads section, the resulting zip file that is downloaded includes the proper file names, but they are all empty and zero bytes.

I can find the same file on the server, and can confirm that there is actual content in them.

[2019-05-03 09:34] simonfranzen opened #151 "How to set from email + SMTP settings"
We have to set the from email with specific smtp settings. How to do that? Is it using craft's sendEmail method to send the mails?

[2019-05-03 09:48] simonfranzen commented on #151
OK got it! You are using craft->email->sendEmail and this settings belongs to craftcms.

[2019-05-03 09:48] #151 closed

[2019-06-07 18:19] brandondeweese commented on #147
This works, but it ignores the "initial rows count". Is there a way to fix this?

[2019-07-05 02:30] Bigben83 opened #152 "Google Address Autocomplete on custom input"
I am trying to create a autocomplete field for address with the google address autocomplete.
[https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform](url)

I created a custom template `craft/templates/forms/addressField.twig`
and added the following in but I dont think I understand the custom template correctly.

`<textarea id="autocomplete" onFocus="g

[2019-08-20 04:11] xenowebdev opened #153 "How to update instructions"
Hey guys,

Sorry if I'm being a bit slow but are there any instructions on how to update the plugin?
I've downloaded the latest version but don't know what to replace in the plugin directory - I don't want to lose the form or any of the data that I have running.
Craft version 2.7.10
Updating FB2 version 2.0.22 to latest

Cheers

[2019-10-15 18:54] ryanscherler opened #154 "How to Upgrade to Craft 3.x"
I was wondering if you could point me to documentation that might help with upgrading an existing Craft CMS V2 site (running this plugin) to Craft 3.x using the latest version of this plugin? Will the exciting database schema / entries carry over or is there a migration that needs to likely be run to make the data work with the new plugin? Thanks!

[2019-10-15 19:00] owldesign commented on #153
@xenowebdev you should just be able to overwrite the old plugin files with the new once, it doesn't delete what is already in database

[2019-10-15 19:18] owldesign commented on #154
@ryanjavens the new plugin is here https://plugins.craftcms.com/form-builder

When you upgrade to Craft 3 and install the above plugin, you will need to run plugin migration from the admin by going here `/admin/form-builder/settings/migration` There should be a list of available forms (ported from Craft 2) that you can migrate.

However, there might be a [bug](https://github.com/roundhouse/Form-Bu

[2019-10-15 19:21] ryanscherler commented on #154
Sounds good - thanks for the info! This has been such an awesome plugin for our client in v2 - and are excited to use it again in v3.

[2019-10-16 13:58] ryanjavens commented on #154
Looks like you tagged the wrong Ryan ;)

[2019-12-11 04:56] #152 closed

[2020-03-13 02:45] kingkelly commented on #148
I updated FormBuilder and am also getting the <p> tags visible for the instructions.

Is there a fix for this? Ive got a client complaining about this, and not sure where to made the edit.

[2020-03-13 09:46] mark-adigital commented on #148
I don't think this was ever going to get fixed, so I created a [pull request](https://github.com/roundhouse/FormBuilder-2-Craft-CMS/pull/155) for it.

[2020-07-31 13:57] jaccsoft opened #156 "no confirmation email sent"
When the submit button is clicked a new entry is created in the dashboard but no email is sent as confirmation, no error message is generated